{% extends 'base.html' %}

{% block content %}
      <form class="form-signin" action="{% url 'login' %}" method="POST">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-success" type="submit">Sign in</button>
        <a href="{% url 'password_reset' %}" class="btn btn-lg btn-light">Reset</a>
      </form>

{% endblock %}
