{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
              <h1 style="border-bottom: none;">Settings</h1>
{% include 'settings_nav.html' %}
              <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-lg btn-success" type="submit" value="Save">
              <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
              </form>
{% endblock %}
