{% extends 'base.html' %}
{% load crispy_forms_tags %}

            {% block nav %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active"><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% endblock %}


{% block content %}

                <h1>Edit</h1>

                <form action="{% url 'client_edit' %}" method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <input class="btn btn-primary btn-lg" type="submit" value="Save">

                </form>
{% endblock %}
