{% extends 'base.html' %}

{% block content %}

                <h1>
                    Client

                    <a class="btn btn-default btn-lg pull-right" href="{% url 'client_edit' client.pk %}">Edit</a>
                </h1>

                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>{{ client.name }}</td><td>{{ client.address }}</td></tr>
                  </tbody>
                </table>

{% endblock %}
