{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            <li class="active"><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endblock %}

{% block content %}

                <h3>Clients<a class="btn btn-default pull-right" href="{% url 'client_edit' %}">Add Client</a></h3>
                <hr>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-sort-name="hidden-name" data-sortable="true">Name</th>
                      <th>Address</th>
                      <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for client in clients %}
                    <tr>
                      <td>{{ client.pk }}</td>
                      <td><a href="{% url 'client' client.pk %}">{{ client.name }}</a></td>
                      <td>{{ client.address }}</td>
                      <td>{{ client.name }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
