{% extends 'base.html' %}

{% block content %}

                <h1>
                    Client

                    <a class="btn btn-default" href="{% url 'client_edit' %}">Edit</a>
                </h1>

                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>{{ client.name }}</td><td>{{ client.address }}</td></tr>
                  </tbody>
                </table>

{% endblock %}
