{% extends 'base.html' %}

{% block content %}

                <div class="row">
                  <div class="col-md-6">
                    <h1>
                        Client
                        <a class="btn btn-default btn-lg pull-right" href="{% url 'client_edit' client.pk %}">Edit</a>
                    </h1>

                    <table data-toggle="table"> 
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Address</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr><td>{{ client.name }}</td><td>{{ client.address }}</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h1>
                        <a href="{% url 'project_index' %}">Projects</a>
                        <a class="btn btn-default btn-lg pull-right" href="{% url 'project_edit' %}">Add</a>
                    </h1>
                  </div>


                </div>

{% endblock %}
