{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li class="active"><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endblock %}

{% block content %}

                <h3>Contacts<a class="btn btn-default pull-right" href="{% url 'contact_edit' %}">Add Contact</a></h3>
                <hr>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-field="first_name" data-sortable="true">First Name</th>
                      <th data-field="last_name" data-sortable="true">Last Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for contact in contacts %}
                    <tr>
                      <td><a href="{% url 'contact' contact.pk %}">{{ contact.pk }}</a></td>
                      <td><a href="{% url 'contact' contact.pk %}">{{ contact.first_name }}</a></td>
                      <td><a href="{% url 'contact' contact.pk %}">{{ contact.last_name }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
