{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="active"><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endblock %}

{% block content %}

                <h3>Estimates<a class="btn btn-default pull-right" href="{% url 'estimate_edit' %}">Add Estimate</a></h3>
                <hr>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-field="client" data-sortable="true">Client</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for estimate in estimates %}
                    <tr>
                      <td><a href="{% url 'estimate' estimate.pk %}">{{ estimate.pk|default:'' }}</a></td>
                      <td><a href="{% url 'estimate' estimate.pk %}">{{ estimate.client|default:'' }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
