{% extends 'base.html' %}

{% block content %}

                <h1>Clients</h1>

                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for client in clients %}
                    <tr><td>{{ client.name }}</td><td>{{ client.address }}</td></tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
