{% extends 'base.html' %}

{% block content %}

                <h1>
                    Clients
                    <a class="btn btn-default btn-lg pull-right" href="{% url 'client_edit' %}">Add</a>
                </h1>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-sort-name="hidden-name" data-sortable="true">Name</th>
                      <th data-field="address" data-sortable="true">Address</th>

                      <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for client in clients %}
                    <tr>
                      <td><a href="{% url 'client' client.pk %}">{{ client.pk }}</a></td>
                      <td><a href="{% url 'client' client.pk %}">{{ client.name }}</a></td>
                      <td><a href="{% url 'client' client.pk %}">{{ client.address }}</a></td>

                      <td>{{ client.name }}</td>  <!-- Sort on this field -->
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
