{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li class="active"><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endblock %}

{% block content %}

                <h3>Invoices<a class="btn btn-default pull-right" href="{% url 'invoice_edit' %}">Add Invoice</a></h3>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-field="project" data-sortable="true">Project</th>
                      <th data-field="client" data-sortable="true">Client</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for invoice in invoices %}
                    <tr>
                      <td><a href="{% url 'invoice' invoice.0.pk %}">{{ invoice.0.pk|default:'' }}</a></td>
                      <td><a href="{% url 'project' invoice.0.project.pk %}">{{ invoice.0.project|default:'' }}</a></td>
                      <td><a href="{% url 'client' invoice.1.pk %}">{{ invoice.1.name|default:'' }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
