{% extends 'base.html' %}

{% block content %}

                <div class="row">
                  <div class="col-md-12">
                    <h1>
                        Invoice
                        <a class="btn btn-default btn-lg pull-right" href="{% url 'invoice_edit' pk=invoice.pk %}">Edit</a>
                    </h1>
                    <table data-toggle="table"> 
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Client</th>
                          <th>Project</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ invoice.id }}</td>
                          <td>{{ invoice.client }}</td>
                          <td>{{ invoice.project }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

{% endblock %}
