{% extends 'base.html' %}

{% block content %}

                <div class="row">
                  <div class="col-md-6">
                    <h1>
                        Project
                        <a class="btn btn-default btn-lg pull-right" href="{% url 'project_edit' pk=project.pk %}">Edit</a>
                    </h1>
                    <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                      <thead>
                        <tr>
                          <th data-field="id" data-sortable="true">Id</th>
                          <th>Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>{{ project.pk }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.start_date|default:'' }}</td>
                            <td>{{ project.end_date|default:'' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h1>
                        Tasks
                        <a class="btn btn-default btn-lg pull-right" href="{% url 'task_edit' %}?project={{ project.pk }}">Add</a>
                    </h1>
                    <table data-toggle="table"> 
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Description</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td><a href="{% url 'task' task.pk %}">{{ task.pk }}</a></td>
                            <td><a href="{% url 'task' task.pk %}">{{ task.description|default:'' }}</a></td>
                            <td><a href="{% url 'task' task.pk %}">{{ task.start_time|default:'' }}</a></td>
                            <td><a href="{% url 'task' task.pk %}">{{ task.end_time|default:'' }}</a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>


                </div>

{% endblock %}
