{% extends 'base.html' %}

{% block content %}

                <h1>
                    Projects
                    <a class="btn btn-default btn-lg pull-right" href="{% url 'project_edit' %}">Add</a>
                </h1>

                <table data-toggle="table">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-sort-name="hidden-name" data-sortable="true">Name</th>
                      <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for project in projects %}
                    <tr>
                      <td><a href="{% url 'project_edit' project.pk %}">{{ project.pk }}</a></td>
                      <td><a href="{% url 'project_edit' project.pk %}">{{ project.name }}</a></td>
                      <td>{{ project.name }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
