{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active"><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endblock %}

{% block content %}

                <h1>
                    Projects
                    <a class="btn btn-primary btn-lg pull-right" href="{% url 'project_edit' %}">Add Project</a>
                </h1>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-sort-name="hidden-name" data-sortable="true">Name</th>
                      <th data-field="client" data-sortable="true">Client</th>

                      <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for project in projects %}
                    <tr>
                      <td><a href="{% url 'project' project.pk %}">{{ project.pk }}</a></td>
                      <td><a href="{% url 'project' project.pk %}">{{ project.name }}</a></td>
                      <td><a href="{% url 'client' project.client.pk %}">{{ project.client }}</a></td>

                      <td>{{ project.name }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
