{% extends 'base.html' %}

{% block content %}

                <h1>
                    Tasks
                    <a class="btn btn-default btn-lg pull-right" href="{% url 'task_edit' %}">Add</a>
                </h1>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="entry" data-sortable="true">Id</th>
                      <th data-field="entry" data-sortable="true">Start Time</th>
                      <th data-field="entry" data-sortable="true">End Time</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for task in tasks %}
                    <tr>
                      <td><a href="{% url 'task' task.pk %}">{{ task.pk }}</a></td>
                      <td><a href="{% url 'task' task.pk %}">{{ task.start_time }}</a></td>
                      <td><a href="{% url 'task' task.pk %}">{{ task.end_time }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
