{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            <li class="active"><a href="{% url 'entry_index' %}">Time</a></li>
            {% if user.is_staff %}
            <li><a>|</a></li> <!-- https://github.com/twbs/bootstrap/issues/9501 -->
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
            {% endblock %}

{% block content %}

                <h3>Time Entries<a class="btn btn-default pull-right" href="{% url 'entry_edit' %}">Add Time Entry</a></h3>
                <hr>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="id" data-sortable="true">Id</th>
                      <th data-field="entry" data-sortable="true">Entry</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for entry in entries %}
                    <tr>
                      <td><a href="{% url 'entry' entry.pk %}">{{ entry.pk|default:'' }}</a></td>
                      <td>{{ entry.entry|default:'' }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
