{% extends 'base.html' %}

{% block content %}

                <h3>User</h3>
                <hr>
                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.name }}</td>
                    </tr>
                  </tbody>
                </table>

{% endblock %}
