[Unit]
Description=gunicorn daemon
Requires=db.socket
After=network.target

[Service]
EnvironmentFile=/home/ubuntu/.bashrc

PIDFile=/run/db/pid
User=ubuntu
Group=ubuntu
RuntimeDirectory=db
WorkingDirectory=/srv/aclarknet-database
ExecStart=/srv/aclarknet-database/bin/gunicorn --pid /run/db/pid --bind unix:/run/db/socket aclarknet.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
