a:hover {
    text-decoration: none;
}
a:hover.mute-url, a.mute-url {
    text-decoration: none;
    color: black;
}
#content > div.row > div > div > ul > li:nth-child(4) > form > input.form-control.btn.btn-link {
    color: black; 
}
#content > div.row > div > div > ul > li:nth-child(4) > form > input.form-control.btn.btn-link:hover {
    text-decoration: none; 
    color: black; 
}
tbody tr:hover a {
    text-decoration: none;
}
.banner {
    text-align: center;padding: 10% 0 10% 0;
}
.collapsing {  /* https://stackoverflow.com/questions/26378785/how-can-i-speed-up-the-mobile-dropdown-in-the-bootstrap-navbar */
  -webkit-transition: height 0.2s ease;
       -o-transition: height 0.2s ease;
          transition: height 0.2s ease;
}
.banner div, .banner h3 {
    font-size: 400%;
}
.sidebar {
    opacity: 0.9;
}
#content {
    background: white;
}
#navbarsExampleDefault > ul > li:hover {
    background: #28A745 !important;
    border-radius: 3px;
}
body > nav > a > i:hover {
    background: #28A745 !important;
    border-radius: 3px;
}
