                  <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-copy-modal-sm"><i class="fa fa-copy"></i> Copy</a>
                  <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-remove"></i> Delete</a>
                  {% if is_staff and show_export %}<div class="dropdown-divider"></div><a class="dropdown-item" href="{% url view_url item.pk %}?pdf=true" target="_blank"><i class="fa fa-file-pdf-o"></i> Export</a>{% endif %}
