          <style>
            #content {
              border: 1px solid #635240;
              opacity: 0.9;
            }
          </style>
          <div class="row">
            <div class="col-md-6 my-auto mx-auto">
              <h1><i class="fa fa-database"></i> ACLARK.NET, LLC &mdash; DB</h1>
              <h2>Client &amp; Contractor Database Application</h2>
              <h3>&copy; 2016&mdash;2017 <a class="url-dark" href="http://aclark.net">ACLARK.NET, LLC</a></h3>
            </div>
          </div> 
