          <style>
            #content {
              border: 1px solid #635240;
              opacity: 0.9;
            }
          </style>
          <div class="banner">
              <h3><i class="fa fa-database"></i> ACLARK.NET, LLC &mdash; DB </h3>
              <div>Client &amp; Contractor Database Application</div>
              <span>&copy; 2016&mdash;2017 <a class="url-dark" href="http://aclark.net">ACLARK.NET, LLC</a></span>
              <div><a class="url-dark" href="https://github.com/ACLARKNET/aclarknet-database"><i class="fa fa-github"></i></a></div>
          </div> 
