{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- https://paulferrett.com/fontawesome-favicon/ -->
    <link rel="icon" href="{% static 'favicon-database.ico' %}">
    <title>ACLARK.NET, LLC &mdash; Database</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <style>
        body {
            background: url({% static 'aclark-doe.jpg' %});
        }
    </style>
    <link rel="stylesheet" href="{% static 'aclarknet.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <!-- Bootstrap table -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
{% block css %}
{% endblock %}
  </head>
  <body>
{% include 'nav.html' %}
    <div class="container-fluid">
      <div class="row">
        {% if not request.user.is_anonymous %}
{% include 'sidebar.html' %}
        {% endif %}
        {% if request.user.is_anonymous and not login %}
        <main class="col-lg-12 bg-white" role="main" id="content">
{% include 'messages.html' %}
{% include 'welcome.html' %}
        {% else %}
        <main class="col-sm-9 ml-sm-auto col-md-10 px-3 py-3 bg-white" role="main" id="content">
{% include 'messages.html' %}
        {% endif %}
{% include 'search.html' %}
{% block content %}
{% endblock %}
        </main>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'aclarknet.js' %}"></script>
    <!-- Bootstrap Table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <!-- Font Awesome -->
    <script src="//use.fontawesome.com/ff20ba2d1c.js"></script>
    <!-- Additional per template JS -->
{% block js %}
{% endblock %}
  </body>
</html>
