{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>ACLARK.NET, LLC — DB</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'aclarknet-database.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <style>
        body {
            background: url({% static 'aclark-doe.jpg' %});
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <ul class="nav navbar-nav">
          {% block nav %}
          <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
          {% if request.user.is_staff %} 
          <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
          {% endif %}
          {% endblock %}
        </ul>
        <ul class="nav navbar-nav pull-right"> 
          <li class="dropdown">
            <button class="bg-inverse btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://github.com/aclarknet/aclarknet-database/issues"><i class="fa fa-plus"></i> Add Issue</a></li>
              {% if request.user.is_staff %}<li><a class="dropdown-item" href="{% url 'report_edit' %}"><i class="fa fa-plus"></i> Add Report</a></li>{% endif %}
              <li><a class="dropdown-item" href="{% url 'entry_edit' %}"><i class="fa fa-plus"></i> Add Time</a></li>
              {% if request.user.is_staff %}<li><a class="dropdown-item" href="{% url 'company' %}"><i class="fa fa-pencil"></i> Edit Company</a></li>{% endif %}
              <li><a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-pencil"></i> Edit Site</a></li>
              <li><a class="dropdown-item" href="/api" target="_blank"><i class="fa fa-eye"></i> View API</a></li>
              <li><a class="dropdown-item" href="{% url 'entry_index' %}"><i class="fa fa-eye"></i> View Time</a></li>
              <div class="dropdown-divider"></div>
              {% if not request.user.is_anonymous %}
              <li><a class="dropdown-item" href="{% url 'user' request.user.pk %}"><i class="fa fa-user"></i> {{ request.user.get_full_name|default:request.user.username }} {% if request.user.email %}({{ request.user.email }}){% endif %}</a></li>
              <li><a class="dropdown-item" href="{% url 'auth:logout' %}?next={% url 'home' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-sign-in"></i> Login with Google</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% block sidebar %}
            {% if request.user.is_authenticated %}{% if not active %}<li class="nav-item"><a class="nav-link" href="?active-only=true">Show only active</a></li>{% else %}<li class="nav-item"><a class="nav-link" href="?active-only=false">Show all items</a></li>{% endif %}{% endif %}
            {% endblock %}
          </ul>
        </div>
        {% endif %}
        {% if request.user.is_anonymous %}
        <div class="col-md-12" id="content">
{% include 'banner.html' %}
        {% else %}
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main" id="content">
        {% endif %}
{% block content %}
{% endblock %}
        </div>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="{% static 'aclarknet-database.js' %}"></script>

    <!-- Bootstrap Table -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <!-- Bootstrap Datepicker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

    <!-- Node modules -->
    <script src="{% static 'node_modules/holderjs/holder.min.js' %}"></script>

  </body>
</html>
