{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;"><a class="mute-url" href="{% url 'client_index' %}">Clients</a> &raquo; Client</h1>
            </div>
            <div class="col-md-3">
              <div class="dropdown pull-right">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'contact_edit' %}?client={{ item.pk }}"><i class="fa fa-user"></i> Add Contact</a></li>
                  <li><a class="dropdown-item" href="{% url 'note_edit' %}?client={{ item.pk }}"><i class="fa fa-plus-circle"></i> Add Note</a></li>
                  <li><a class="dropdown-item" href="{% url 'project_edit' %}?client={{ item.pk }}"><i class="fa fa-folder-open"></i> Add Project</a></li>
                  <li><a class="dropdown-item" href="{% url 'client_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                  <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
            
                </ul>
              </div>
            </div>
          </div>
{% include 'delete_form.html' %}
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-classes="table table-no-bordered">
                <thead>
                  <tr>
                    <th data-sort-name="hidden-active" data-sortable="false" {% if active %} data-visible="false" {% endif %}>Active</th> 
                    <th data-field="hidden-active" data-sortable="false" data-visible="false">Hidden Active</th> 
                    <th data-sort-name="hidden-name" data-sortable="false">Name</th>
                    <th data-sortable="false">Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><form action="{% url 'client_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                    <td>{{ item.active }}</td>
                    <td>{% if item.url %}<a href="{{ item.url }}" target="_blank"><i class="fa fa-external-link"></i> {{ item.name|default:'' }}</a>{% else %}<i class="fa fa-building"></i> {{ item.name|default:'' }}{% endif %}</td>
                    <td>{{ item.address }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-------------------------------------------------------------------------------->
          {% if item.description %}
          <div class="row">
            <div class="col-md-12">
              <h2>Description</h2>
              <p>{{ item.description|default:'' }}</p>
            </div>
          </div>
          {% endif %}
          <!-------------------------------------------------------------------------------->
          <div class="row">
            <div class="col-md-12">
              <h2>Contacts</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-classes="table table-no-bordered">
                <thead>
                  <tr>
                    <th data-sortable="true">First Name</th>
                    <th data-sortable="true">Last Name</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.first_name|default:'' }}</td>
                    <td>{{ contact.last_name|default:'' }}</td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'contact_view' contact.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'contact_edit' contact.pk %}"><i class="fa fa-cog fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-------------------------------------------------------------------------------->
          <div class="row">
            <div class="col-md-12">
              <h2>Contracts</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-classes="table table-no-bordered">
                <thead>
                  <tr>
                    <th data-sortable="true">Contract</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contract in contracts %}
                  <tr>
                    <td>{{ contract }}</td>
                    <td><a style="text-{{ icon_color }}" href="{% url 'contract_view' contract.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}" style="vertical-align: middle"></i> View item</a></td>
                    <td><a style="text-{{ icon_color }}" href="{% url 'contract_edit' contract.pk %}"><i class="fa fa-cog fa-{{ icon_size }}" style="vertical-align: middle"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-------------------------------------------------------------------------------->
          {% if item.notes %}
          <div class="row">
            <div class="col-md-12">
              <h2>Old Notes</h2>
              <p>{{ item.notes|safe|default:'' }}</p>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-12">
              <h2>Projects</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-classes="table table-no-bordered">
                <thead>
                  <tr>
                    <th data-sortable="true">Name</th>
                    <th data-field="start-date" data-sort-name="hidden-start-date" data-sortable="true">Start</th>
                    <th data-field="hidden-start-date" data-sortable="true" data-visible="false">Hidden Start Date</th>
                    <th data-field="end-date" data-sort-name="hidden-end-date" data-sortable="true">Stop</th>
                    <th data-field="hidden-end-date" data-sortable="true" data-visible="false">Hidden End Date</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody> 
                {% for project in projects %}
                <tr>
                  <td><a href="{% url 'project_view' project.pk %}">{{ project.name|default:'' }}</a></td>
                  <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                  <td>{{ project.start_date|date:'U' }}</td>
                  <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                  <td>{{ project.end_date|date:'U' }}</td>
                  <td><a class="text-{{ icon_color }}" href="{% url 'project_view' project.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}" style="vertical-align: middle"></i> View item</a></td>
                  <td><a class="text-{{ icon_color }}" href="{% url 'project_edit' project.pk %}"><i class="fa fa-cog fa-{{ icon_size }}" style="vertical-align: middle"></i></a></td>
                </tr>
                {% endfor %} 
                </tbody>
              </table>
            </div>
          </div>
{% include 'notes.html' %}
{% endblock %}
