{% extends 'base.html' %}

{% block content %}

                  <div class="col-md-6">
                    <h3>Client<a class="btn btn-default pull-right" href="{% url 'client_edit' client.pk %}">Edit Client</a></h3>
                    <hr>
                    <table data-toggle="table"> 
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Address</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr><td>{{ client.name }}</td><td>{{ client.address }}</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h3>Projects<a class="btn btn-default pull-right" href="{% url 'project_edit' %}?client={{ client.pk }}">Add Project</a></h3>
                    <hr>
                    <table data-toggle="table"> 
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody> 
                    {% for project in projects %}
                      <tr>
                        <td><a href="{% url 'project' project.pk %}">{{ project.pk }}</a></td>
                        <td>{{ project.name }}</td>
                        <td>{{ project.start_date|default:'' }}</td>
                        <td>{{ project.end_date|default:'' }}</td>
                      </tr>
                    {% endfor %} 
                      </tbody>
                  </div>

{% endblock %}
