{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <h1>Client</h1>
                  </div>
                  <div class="col-md-3 offset-md-3">
                    <div class="dropdown pull-right">
                      <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'contact_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                        <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm-{{ item.pk }}"><i class="fa fa-times-circle-o"></i> Remove</a></li>
            
                      </ul>
                    </div>
                  </div>
                </div>
{% include 'delete_form.html' %}
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr><td>{{ item.name }}</td><td>{{ item.address|linebreaks }}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-9">
                    <h2>Contacts</h2>
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-block btn-lg btn-secondary pull-right" href="{% url 'contact_edit' %}?client={{ item.pk }}">Add</a></h2>
                  </div>
                </div>
                <div class="table-responsive">
                  <table data-toggle="table"> 
                    <thead>
                      <tr>
                        <th data-sortable="true">First Name</th>
                        <th data-sortable="true">Last Name</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for contact in contacts %}
                      <tr>
                        <td>{{ contact.first_name }}</td>
                        <td><a href="{% url 'contact' contact.pk %}">{{ contact.last_name }}</a></td>
                        <td><a href="{% url 'contact_edit' contact.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <h2>Projects</h2>
                  </div>
                  <div class="col-md-3">
                    <a class="btn btn-block btn-lg btn-secondary pull-right" href="{% url 'project_edit' %}?client={{ item.pk }}">Add</a></h2>
                  </div>
                </div>
                <div class="table-responsive">
                  <table data-toggle="table"> 
                    <thead>
                      <tr>
                        <th data-sortable="true">Name</th>
                        <th data-field="start-date" data-sort-name="hidden-start-date" data-sortable="true">Start</th>
                        <th data-field="hidden-start-date" data-sortable="true" data-visible="false">Hidden Start Date</th>
                        <th data-field="end-date" data-sort-name="hidden-end-date" data-sortable="true">Stop</th>
                        <th data-field="hidden-end-date" data-sortable="true" data-visible="false">Hidden End Date</th>
                        <th>Edit</th>
                      </tr>
                    </thead>
                    <tbody> 
                    {% for project in projects %}
                    <tr>
                      <td><a href="{% url 'project' project.pk %}">{{ project.name }}</a></td>
                      <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                      <td>{{ project.start_date|date:'U' }}</td>
                      <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                      <td>{{ project.end_date|date:'U' }}</td>
                      <td><a href="{% url 'project_edit' project.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>
                    </tr>
                    {% endfor %} 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{% endblock %}
