{% extends 'base.html' %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
            <div class="col-md-6">
              <h3>Client<a class="btn btn-lg btn-success pull-right" href="{% url 'client_edit' client.pk %}">Edit Client</a></h3>
              <table data-toggle="table"> 
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>{{ client.name }}</td><td>{{ client.address|linebreaks }}</td></tr>
                </tbody>
              </table>
              <h3>Contacts<a class="btn btn-secondary pull-right" href="{% url 'contact_edit' %}?client={{ client.pk }}">Add Contact</a></h3>
              <table data-toggle="table"> 
                <thead>
                  <tr>
                    <th>Active</th>
                    <th data-sortable="true">First Name</th>
                    <th data-sortable="true">Last Name</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts %}
                  <tr>
                    <td><form action="{% url 'contact_edit' contact.pk %}?client={{ client.pk }}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox"{% if contact.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td><a href="{% url 'contact' contact.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'contact_edit' contact.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h3>Projects<a class="btn btn-secondary pull-right" href="{% url 'project_edit' %}?client={{ client.pk }}">Add Project</a></h3>
              <table data-toggle="table"> 
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-sortable="true">Name</th>
                    <th data-field="start-date" data-sort-name="hidden-start-date" data-sortable="true">Start Date</th>
                    <th data-field="hidden-start-date" data-sortable="true" data-visible="false">Hidden Start Date</th>
                    <th data-field="end-date" data-sort-name="hidden-end-date" data-sortable="true">End Date</th>
                    <th data-field="hidden-end-date" data-sortable="true" data-visible="false">Hidden End Date</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody> 
              {% for project in projects %}
                <tr>
                  <td><form action="{% url 'project_edit' project.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox"{% if project.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                  <td>{{ project.active }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                  <td>{{ project.start_date|date:'U' }}</td>
                  <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                  <td>{{ project.end_date|date:'U' }}</td>
                  <td><a href="{% url 'project' project.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                  <td><a href="{% url 'project_edit' project.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                </tr>
              {% endfor %} 
                </tbody>
            </div>
{% endblock %}
