{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="active"><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
            {% endblock %}

{% block content %}

                <h3>Clients<a class="btn btn-default pull-right" href="{% url 'client_edit' %}">Add Client</a></h3>
                <hr>
                {% include 'pagination.html' %}
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-sortable="true">#</th> 
                      <th data-sortable="true">Active</th> 
                      <th data-field="id" data-sort-name="hidden-id" data-sortable="true">Id</th>
                      <th data-field="hidden-id" data-sortable="true" data-visible="false">Hidden Id</th>
                      <th data-sortable="true">Name</th>
                      <th data-sortable="true">Address</th>
                      <th>Edit</th> 
                    </tr>
                  </thead>
                  <tbody>
                  {% for client in items %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{% if client.active %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}</td>
                      <td><a href="{% url 'client' client.pk %}">{{ client.pk }}</a></td>
                      <td>{{ client.pk }}</td>
                      <td>{{ client.name }}</td>
                      <td>{{ client.address|linebreaks }}</td>
                      <td><a href="{% url 'client_edit' client.pk %}"><i class="fa fa-edit fa-2x"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% include 'pagination.html' %}

{% endblock %}
