{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-11">
                  <h1 style="border-bottom: none;"><a class="mute-url" href="{% url 'contact_index' %}">Contacts</a> &raquo; {{ item }}</h1>
                </div>
                <div class="col-md-1">
                  <div class="dropdown">
                    <button class="btn btn-block btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'contact_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                      {% if item.email %}<li><a class="dropdown-item" href="{% url 'mail' %}?contact={{ item.pk }}"><i class="fa fa-send-o"></i> Send Mail</a></li>{% endif %}

                    </ul>
                  </div>
                </div>
              </div>
{% include 'delete_form.html' %}
              <div class="row">
                <div class="col-md-12">
{% include 'table_items.html' %}
                </div>
              </div>
{% endblock %}
