{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h1>Settings</h1>
                </div>
                <div class="col-md-2 offset-md-6">
                  <a class="btn btn-lg btn-block btn-success" href="{% url 'settings_contract_edit' %}"> <i class="fa fa-cog"></i> Edit</a>
                </div>
              </div>
{% include 'settings-nav.html' %}
              <div class="row">
                <div class="col-md-12">
                  <h2>Default Field Values</h2>
                </div>
              </div>
              {% for field in fields.values %}
              <div class="card">
                <div class="card-header">
                  <h3>{{ field.name }}</h3>
                </div>
                <div class="card-block">
                  <div class="card-text">{{ field.value|safe }}</div>
                </div>
              </div>
              {% endfor %}
{% endblock %}
