{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h1>Settings</h1>
                </div>
                <div class="col-md-2 offset-md-6">
                  <a class="btn btn-lg btn-block btn-success" href="{% url 'contract_settings_edit' %}">Edit <i class="fa fa-cog"></i></a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr><td>{{ contract_settings.parties|safe }}</td></tr>
                    <tr><td>{{ contract_settings.scope_of_work|safe }}</td></tr>
                    <tr><td>{{ contract_settings.payment_terms|safe }}</td></tr>
                    <tr><td>{{ contract_settings.timing_of_payment|safe }}</td></tr>
                    <tr><td>{{ contract_settings.contributor_assignment_agreement|safe }}</td></tr>
                    <tr><td>{{ contract_settings.authority_to_act|safe }}</td></tr>
                    <tr><td>{{ contract_settings.termination|safe }}</td></tr>
                    <tr><td>{{ contract_settings.governing_laws|safe }}</td></tr>
                    <tr><td>{{ contract_settings.period_of_agreement|safe }}</td></tr>
                    <tr><td>{{ contract_settings.confidentiality|safe }}</td></tr>
                    <tr><td>{{ contract_settings.taxes|safe }}</td></tr>
                  </tbody>
                </table>
              </div>
{% endblock %}
