{% extends 'base.html' %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h1>Contact</h1>
                </div>
                <div class="col-md-2">
                  <div class="dropdown pull-right">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'contact_edit' pk=contact.pk %}"><i class="fa fa-cog"></i>&nbsp;Edit</a></li>
                      <li><a class="dropdown-item" href="{% url 'contact_mail' pk=contact.pk %}"><i class="fa fa-send-o"></i>&nbsp;Send Mail</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered"> 
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Mobile Phone</th>
                      <th>Office Phone</th>
                      <th>Fax</th>
                      <th>Client</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ contact.title }}</td>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.mobile_phone }}</td>
                    <td>{{ contact.office_phone }}</td>
                    <td>{{ contact.fax }}</td>
                    {% if contact.client %} <td><a href="{% url 'client' contact.client.pk %}">{{ contact.client }}</a></td> {% else %} <td>{{ contact.client|default:'' }}</td> {% endif %}
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3>Address</h3>
                  {% if contact.address %}<div class="notes">{{ contact.address|linebreaks|default:'' }}</div>{% endif %}
                </div>
                <div class="col-md-6">
                  <h3>Notes</h3>
                  {% if contact.notes %}<div class="notes">{{ contact.notes|linebreaks|default:'' }}</div>{% endif %}
                </div>
              </div>
{% endblock %}
