{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h1><a class="mute-url" href="{% url 'contact_index' %}">Contacts</a> &raquo; Contact</h1>
                </div>
                <div class="col-md-2">
                  <div class="dropdown pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'contact_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                      <li><a class="dropdown-item" href="{% url 'contact' pk=item.pk %}?mail=true"><i class="fa fa-send-o"></i> Send Mail</a></li>

                    </ul>
                  </div>
                </div>
              </div>
{% include 'delete_form.html' %}
              <table class="table">
                <tbody>
                  <tr class="bg-inverse">
                    <th><h2 class="text-white">Field name</h2></th>
                    <th><h2 class="text-white">Value</h2></th>
                  </tr>
                  <tr>
                    <th>Active</th>
                    <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                  </tr>
                  <tr>
                    <th>Subscribed</th>
                    <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-subscribe"><input type="checkbox" value="on" name="checkbox-subscribe"{% if item.subscribed %} checked {% endif %} onChange="this.form.submit()"></form></td>
                  </tr>
                  <tr>
                    <th>Title</th>
                    <td>{{ item.title|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>First Name</th>
                    <td>{{ item.first_name|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>Last Name</th>
                    <td>{{ item.last_name|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td>{{ item.email|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>Mobile Phone</th>
                    <td>{{ item.mobile_phone|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>Office Phone</th>
                    <td>{{ item.office_phone|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>Fax</th>
                    <td>{{ item.fax|default:'' }}</td>
                  </tr>
                  <tr>
                    <th>Client</th>
                    {% if item.client %} <td><a href="{% url 'client' item.client.pk %}">{{ item.client }}</a></td> {% else %} <td>{{ item.client|default:'' }}</td> {% endif %}
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{ item.address|default:''|linebreaks }}</td>
                  </tr>
                  <tr>
                    <th>Notes</th>
                    <td>{{ item.notes|default:''|linebreaks }}</td
                  </tr>
                </tbody>
              </div>
{% endblock %}
