{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Contracts</h1>
            </div>
            <div class="col-md-3">
              <a class="btn btn-block btn-lg btn-success" href="{% url 'contract_edit' %}">Add Contract</a>
            </div>
          </div>
{% with items=items.contracts %}     
{% include 'pagination.html' %}
{% endwith %}
          <table data-toggle="table" data-classes="table table-no-bordered table-hover">
            <thead>
              <tr>
                <th>Client</th> 
                <th>Created</th> 
                <th>Statement of Work</th> 
                <th>View</th> 
                <th>Edit</th> 
              </tr>
            </thead>
            <tbody>
            {% for item in items.contracts %}
              <tr>
                <td>{{ item.client|default:'' }}</td>
                <td>{{ item.created }}</td>
                <td>{{ item.statement_of_work|default:'' }}</td>
                <td><a class="text-{{ icon_color }}" href="{% url 'contract_view' item.pk %}"><i class="fa fa-external-link fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                <td><a class="text-{{ icon_color }}" href="{% url 'contract_edit' item.pk %}"><i class="fa fa-edit fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
{% with items=items.contracts %}     
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
