{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
       <h1>Contract</h1>
       <form action="" method="post">{% csrf_token %}
         <div class="row">
           <div class="col-md-12">
             <input class="btn btn-lg btn-success" type="submit" value="Save">
             <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
           </div>
         </div>
         {{ form|crispy }}
         <input class="btn btn-lg btn-success" type="submit" value="Save">
         <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
       </form>
{% endblock %}
