{% extends 'base.html' %}
{% load l10n %}
{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h1>Contact</h1>
                </div>
                <div class="col-md-2">
                  <div class="dropdown pull-right">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'contact_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm-{{ item.pk|unlocalize }}"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                      <li><a class="dropdown-item" href="{% url 'contact_mail' pk=item.pk %}"><i class="fa fa-send-o"></i> Send Mail</a></li>

                    </ul>
                  </div>
                </div>
              </div>
{% include 'delete_form.html' %}
              <div class="table-responsive">
                <table data-toggle="table" data-classes="table">
                  <thead>
                    <tr>
                      <th>Active</th>
                      <th>Subscribed</th>
                      <th>Title</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Mobile Phone</th>
                      <th>Office Phone</th>
                      <th>Fax</th>
                      <th>Client</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                    <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-subscribed"><input type="checkbox" value="on" name="checkbox-subscribed"{% if item.subscribed %} checked {% endif %} onChange="this.form.submit()"></form></td>
                    <td>{{ item.title|default:'' }}</td>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.mobile_phone|default:'' }}</td>
                    <td>{{ item.office_phone|default:'' }}</td>
                    <td>{{ item.fax }}</td>
                    {% if item.client %} <td><a href="{% url 'client' item.client.pk %}">{{ item.client }}</a></td> {% else %} <td>{{ item.client|default:'' }}</td> {% endif %}
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {% if item.address %}
                  <table data-toggle="table" data-classes="table">
                    <thead>
                      <tr>
                        <th>Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ item.address|linebreaks|default:'' }}</td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  {% if item.notes %}
                  <h3>Notes</h3>
                  <div class="note">{{ item.notes|linebreaks|default:'' }}</div>
                  {% endif %}
                </div>
              </div>
{% endblock %}
