{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="active"><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            <li><a href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-1">
                  <h3>Contacts</h3>
                </div>
                <div class="col-md-3">
                  <h3><span class="col-md-3"><a href="?active=true"><i class="fa fa-{% if not active %}square-o{% else %}check-square{% endif %}"></i></a></span></h3>
                </div>
                <div class="col-md-4">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-4">
                  <h3><a class="btn btn-lg btn-success pull-right" href="{% url 'contact_edit' %}">Add Contact</a></h3>
                </div>
              </div>
              <hr>
              {% include 'messages.html' %}
              {% include 'pagination.html' %}
              <table data-toggle="table" data-row-style="rowStyle">
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-sortable="true">First Name</th>
                    <th data-sortable="true">Last Name</th>
                    <th data-sortable="true">Email</th>
                    <th>View</th> 
                    <th>Edit</th> 
                    <th>Mail</th> 
                    <th data-sortable="true">Client</th>
                    <th>Delete</th> 
                  </tr>
                </thead>
                <tbody>
                {% for contact in items %}
                  <tr>
                    <td><form action="{% url 'contact_edit' contact.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox" {% if contact.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                    <td>{{ contact.active }}</td>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.email }}</td>
                    <td><a href="{% url 'contact' contact.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'contact_edit' contact.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                    <td><a href="{% url 'contact_mail' contact.pk %}"><i class="fa fa-send-o fa-3x"></i></a></td>
                    {% if contact.client %} <td><a href="{% url 'client' contact.client.pk %}">{{ contact.client }}</a></td> {% else %} <td>{{ contact.client|default:'' }}</td> {% endif %}
                    <td><form action="{% url 'contact_edit' contact.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <hr>
              {% include 'pagination.html' %}
{% endblock %}
