{% extends 'base.html' %}

{% block sidebar %}
            {% if request.user.is_staff %}{% if not active %}<li class="nav-item"><a class="nav-link" href="?active=true">Active</a></li>{% else %}<li class="nav-item active"><a class="nav-link" href="{% url 'contact_index' %}">Active</a></li>{% endif %}{% endif %}
{% endblock %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-3">
                  <h1>Contacts</h1> 
                </div>
                <div class="col-md-6">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-3">
                  <a class="btn btn-lg btn-success" href="{% url 'contact_edit' %}">Add</a>
                </div>
              </div>
              {% include 'messages.html' %}
              {% include 'pagination.html' %}
              <div class="table-responsive">
                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th data-field="active" data-sort-name="hidden-active" data-sortable="true">Active</th>
                      <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                      <th data-field="first-name" data-sort-name="first-name" data-sortable="true">First Name</th>
                      <th data-field="last-name" data-sort-name="hidden-last-name" data-sortable="true">Last Name</th>
                      <th data-field="hidden-last-name" data-sortable="true" data-visible="false">Hidden Last Name</th>
                      <th data-sortable="true">Email</th>
                      <th data-sortable="true">Client</th>
                      <th>Edit</th> 
                      <th>Remove</th> 
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in items %}
                    <tr>
                      <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox" {% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                      <td>{{ item.active }}</td>
                      <td>{{ item.first_name }}</td>
                      <td><a href="{% url 'contact' item.pk %}">{{ item.last_name }}</a></td>
                      <td>{{ item.last_name }}</td>
                      <td>{{ item.email }}</td>
                      {% if item.client %} <td><a href="{% url 'client' item.client.pk %}">{{ item.client }}</a></td> {% else %} <td>{{ item.client|default:'' }}</td> {% endif %}
                      <td><a href="{% url 'contact_edit' item.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>
                      <td>
                        {% include 'delete_form.html' %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% include 'pagination.html' %}
{% endblock %}
