{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
       <h1>Contract</h1>
       <form action="" method="post">{% csrf_token %}
         <div class="row">
           <div class="offset-md-8 col-md-2">
             <a class="btn btn-lg btn-block btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
           </div>
           <div class="col-md-2">
             <input class="btn btn-lg btn-block btn-success" type="submit" value="Save">
           </div>
         </div>
         {{ form|crispy }}
         <input class="btn btn-lg btn-success" type="submit" value="Save">
         <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
       </form>
{% endblock %}
{% block js %}
    <!-- TinyMCE -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=0hiakgt5bcrg78741ummffngymeatxilifg95oc473nrtvs4"></script>
    <!-- https://codepen.io/tinymce/pen/NGegZK -->
    <script>
        tinymce.init({
          selector: '.tinymce',
          height: 500,
          theme: 'modern',
          plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
          ],
          toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
          toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
          image_advtab: true,
          templates: [
            { title: 'Test template 1', content: 'Test 1' },
            { title: 'Test template 2', content: 'Test 2' }
          ],
          content_css: [
            '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
            '//www.tinymce.com/css/codepen.min.css'
          ],
          branding: false,
          relative_urls: false,
         });
    </script>
{% endblock %}
