{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
              <h1 style="border-bottom: none;">Contact</h1>
              <div class="alert alert-warning">
                <strong>Enter a valid phone number.</strong> Please use <a href="https://en.wikipedia.org/wiki/E.164" target="_blank">E.164 format</a> to enter phone numbers e.g. +13015551212.
              </div>
              <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-lg btn-success" type="submit" value="Save Contact">
              <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
              </form>
{% endblock %}
{% block js %}
{% include 'tinymce.html' %}
{% endblock %}
