{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Contacts</h1> 
            </div>
            <div class="col-md-3">
              <a class="btn btn-block btn-lg btn-success" href="{% url 'contact_edit' %}">Add Contact</a>
            </div>
          </div>
{% with items=items.contacts %}     
{% include 'pagination.html' %}
{% endwith %}
          <table data-toggle="table" data-classes="table table-no-bordered table-hover">
            <thead>
              <tr>
                <th data-field="active" data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th>
                <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                <th data-field="last-name" data-sort-name="last-name" data-sortable="true">Last Name</th>
                <th data-field="first-name" data-sort-name="first-name" data-sortable="true">First Name</th>
                <th data-field="email-address" data-sort-name="email-address" data-sortable="true">Email</th>
                <th data-sortable="true">Client</th>
                <th>View</th>
                <th>Edit</th> 
              </tr>
            </thead>
            <tbody>
            {% for item in items.contacts %}
              <tr>
                <td><form action="{% url 'contact_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active" {% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                <td>{{ item.active }}</td>
                <td>{{ item.last_name|default:'' }}</td>
                <td>{{ item.first_name|default:'' }}</td>
                <td>{{ item.email|default:'' }}</td>
                <td>{% if item.client %}<a href="{% url 'client_view' item.client.pk %}">{{ item.client }}</a>{% else %} {{ item.client|default:'' }}{% endif %}</td>
                <td><a class="text-{{ icon_color }}" href="{% url 'contact_view' item.pk %}"><i class="fa fa-external-link fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                <td><a class="text-{{ icon_color }}" href="{% url 'contact_edit' item.pk %}"><i class="fa fa-edit fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
{% with items=items.contacts %}     
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
