{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <h3>Contact &rarr; {{ item.first_name }} {{ item.last_name }} &rarr; Edit</h3>
              <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-lg btn-success" type="submit" value="Save Contact">
              <a class="btn btn-lg btn-default" href="{% url 'contact_index' %}">Cancel</a>
              </form>
{% endblock %}
