{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h1>Contract Settings</h1>
                  <h4>Default values</h4>
                </div>
                <div class="col-md-2 offset-md-6">
                  <a class="btn btn-lg btn-block btn-success" href="{% url 'contract_settings_edit' %}">Edit <i class="fa fa-cog"></i></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <hr>
                  <h3>Timing of Payment</h3>
                  {{ contract_settings.timing_of_payment|safe }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Termination</h3>
                  {{ contract_settings.termination|safe }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Governing Laws</h3>
                  {{ contract_settings.governing_laws|safe }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Confidentiality</h3>
                  {{ contract_settings.confidentiality|safe }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>Taxes</h3>
                  {{ contract_settings.taxes|safe }}
                </div>
              </div>
{% endblock %}
