                  <!-- Copy form modal -->
                  <div class="modal fade bd-copy-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Are you sure?</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            You are about to copy this item!
                        </div>
                        <div class="modal-footer">
                          <form action="{% url edit_url item.pk %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success" name="copy" type="submit" value="copy" onChange="this.form.submit()">Copy</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
