                  <table class="table"> 
                    <thead>
                      <tr>
                        <th>Net</th>
                        <th>Gross</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="currency"><h4>{{ company.currency_symbol }}{{ net }}</h4></td>
                        <td class="light"><h4>{{ company.currency_symbol }}{{ gross }}</h4></td>
                      </tr>
                    </tbody>
                  </table>
