{% extends 'base.html' %}
{% block content %}
              <h1><i class="fa fa-dashboard"></i>&nbsp;Dashboard</h1>
              <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
                  <h4>Label</h4>
                  <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
                  <h4>Label</h4>
                  <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
                  <h4>Label</h4>
                  <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
                  <h4>Label</h4>
                  <span class="text-muted">Something else</span>
                </div>
              </div>

              {% if request.user.is_anonymous %}
{% include 'banner.html' %}
              {% elif request.user.is_authenticated %}
              <h3>&nbsp;Dashboard<a class="btn btn-lg btn-success pull-right" href="{% url 'entry_edit' %}">Add Time&nbsp;<i class="fa fa-plus"></i></a></h3>
              {% endif %}

              {% if request.user.is_staff %}
              <h4>Active Projects</h4>
{% include 'project_table.html' %}
              <div class="row">
                <div class="col-md-6">
                  <h4>Current Invoices</h4>
{% include 'dashboard_invoices.html' %}
                </div>
                <div class="col-md-6">
                  <h4>Current Totals</h4>
{% include 'dashboard_totals.html' %}
                </div>
              </div>
              {% endif %}
{% endblock %}
