              <div class="row">
                <div class="col-md-12">
                  <h2>Projects</h2>
                  <div class="table-responsive">
                    <table data-toggle="table">
                      <thead>
                        <tr> 
                          <th>Name</th>    
                          <th>View</th>
                          <th>Time</th>    
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
