{% extends 'base.html' %}
{% block content %}
              {% if request.user.is_anonymous %}
{% include 'banner.html' %}
              {% endif %}
              {% if request.user.is_authenticated %}
              <h3><a class="btn btn-lg btn-success pull-right" href="{% url 'entry_edit' %}">Add Time&nbsp;<i class="fa fa-plus"></i></a></h3>
              {% endif %}
              {% if request.user.is_staff %}
              <h2><span class="rv"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</span></h2>
{% include 'dashboard_graphs.html' %}
              <h4><i class="fa fa-folder-open"></i>&nbsp;Projects</h4>
{% include 'project_table.html' %}
              <div class="row">
                <div class="col-md-6">
                  <h4>Invoices</h4>
{% include 'dashboard_invoices.html' %}
                </div>
                <div class="col-md-6">
                  <h4>Totals</h4>
{% include 'dashboard_totals.html' %}
                </div>
              </div>
              {% endif %}
{% endblock %}
