{% load l10n %}
          <div class="row">
            <div class="col-md-12">
              <h2>Invoices</h2>
              <div class="table-responsive">
                <table data-toggle="table">
                  <thead>
                    <tr> 
                      <th data-sort-name="hidden-client" data-sortable="true">Client</th>
                      <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                      <th data-field="amount" data-sort-name="hidden-amount" data-sortable="true">Due</th>
                      <th data-field="hidden-amount" data-sortable="true" data-visible="false">Hidden Amount</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for invoice in invoices %}
                    <tr>
                      {% if invoice.client %}<td><a href="{% url 'client' invoice.client.pk %}">{{ invoice.client.name|default:'' }}</a></td>{% else %}<td></td> {% endif %}
                      <td>{{ invoice.client }}</td>
                      <td>{% if invoice.subtotal %}{{ company.currency_symbol }}{% endif %}{{ invoice.subtotal|default:'' }}</td>
                      <td>{{ invoice.subtotal|unlocalize|default:'' }}</td>
                      <td><a href="{% url 'invoice' invoice.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
