{% if invoices %}
<style>
  td.currency a:hover {
    background: none;
  }
</style>
<table data-toggle="table">
<thead>
  <tr> 
    {% for invoice in invoices %}<th data-toggle="tooltip" title="{{ invoice.project.name }}">{% if invoice.project %}<a class="text-overflow-ellipsis" href="{% url 'project' invoice.project.pk %}">{{ invoice.project.name }}</a>{% endif %}</th>{% endfor %}
  </tr>
</thead>
<tbody>
  <tr>
    {% for invoice in invoices %}
    <td class="currency"><h4><a href="{% url 'invoice' invoice.pk %}">{{ company.currency_symbol }}{{ invoice.subtotal|default:0 }}</a></h4></td>
    {% endfor %}
  </tr>
</tbody>
</table>
{% endif %}
