              <div class="row">
                <div class="col-md-12">
                  <h2>Invoices</h2>
                  <div class="table-responsive">
                    <table data-toggle="table">
                      <thead>
                        <tr> 
                          <th>Subject</th>    
                          <th>Amount</th>    
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for invoice in invoices %}
                        <tr>
                          <td>{{ invoice.subject }}</td>
                          <td></td>
                          <td><a href="{% url 'invoice' invoice.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                          <td></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
