          <div class="row">
            <div class="col-md-12">
              <h2>Notes</h2>
              <div class="table-responsive">
                <table data-toggle="table">
                  <thead>
                    <tr>
                      <th data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th>
                      <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                      <th data-field="name" data-sortable="true">Note</th>
                      <th data-sort-name="hidden-due" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Due</th>
                      <th data-field="hidden-due" data-sortable="true" data-visible="false">Hidden Due</th>
                      <th data-field="priority" data-sortable="true">Priority</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for note in notes %}
                    <tr>
                      <td><form action="{% url 'note_edit' note.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox"{% if note.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                      <td>{{ note.active }}</td>

                      <td><a href="{% url 'note' note.pk %}">{{ note.note|linebreaks|truncatechars:80 }}</a></td>
                      <td>{{ note.due_date|date:'Y-m-d' }}</td>
                      <td>{{ note.due_date|date:'U' }}</td>
                      <td>{{ note.priority|default:'' }}</td>
                      <td><a href="{% url 'note' note.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
