          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark {% if active_nav == 'dropdown' %}bg-success rounded{% endif %}" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <!-- {% if not request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'user_view' request.user.pk %}"><i class="fa fa-user-o"></i> {{ request.user.get_full_name|default:request.user.username }} {% if request.user.email %}({{ request.user.email }}){% endif %}</a><div class="dropdown-divider"></div>{% endif %} -->
              {% if not request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'user_view' request.user.pk %}"><i class="fa fa-user-o"></i> Profile</a><div class="dropdown-divider"></div>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="/api" target="_blank"><i class="fa fa-code"></i> API</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-user"></i> Admin</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'settings_app' %}"><i class="fa fa-cog"></i> Settings</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'newsletter_index' %}"><i class="fa fa-file-o"></i> Newsletters</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'contract_index' %}"><i class="fa fa-file-o"></i> Contracts</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'proposal_index' %}"><i class="fa fa-file-o"></i> Proposals</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'file_index' %}"><i class="fa fa-file-o"></i> Files</a>{% endif %}
              {% if is_staff %}<a class="dropdown-item" href="{% url 'log_index' %}"><i class="fa fa-file-o"></i> Logs</a>{% endif %}
              {% if request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'login'  %}"><i class="fa fa-sign-in"></i> Login</a>{% endif %}
              {% if request.user.is_anonymous %}<a class="dropdown-item" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-sign-in"></i> Login with Google</a>{% endif %}
              {% if not request.user.is_anonymous  %}{% if is_staff %}<div class="dropdown-divider"></div>{% endif %}<a class="dropdown-item" href="{% url 'auth:logout' %}?next={% url 'home' %}"><i class="fa fa-sign-out"></i> Logout</a>{% endif %}
            </div>
          </li>
