<style>
    .document-type-upper {
        font-size: 300%
    }
</style>

<table border=0>
  <tr>
    <td>
      <h1 class="document-type-upper">{{ document_type_upper }}</h1>
    </td>
    <td valign="top" align="right" style="border-right: 1px solid lightgray">
      <div style="color: gray;padding: 5px">From:</div>
    </td>
    <td> 
      <div style="padding: 5px"><strong>{{ company.name|default:'Company' }}</strong><br>
      {{ company.address|default:'1234 Main Street City, State USA' }}</div>
    </td>
  </tr>
</table>
