                <table data-toggle="table table-no-bordered">
                  <thead>
                    <tr>
                      <th><h1>{{ title }}</h1></th>
                      <th class="col-md-7"></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <div><strong>From:</strong></div>
                        <div>{{ company.name|default:'' }}</div>
                        <div>{{ company.address|default:''|linebreaks }}</div>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Id:</strong> {{ document.document_id|default:'' }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <div><strong>For:</strong></div>
                        <div>{{ document.client|default:'' }}</div>
                        <div>{{ document.client.address|default:''|linebreaks }}</div>
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Date:</strong> {{ document.issue_date }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Subject:</strong> {{ document.subject }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Item</strong></td>
                      <td><strong>Description</strong></td>
                      <td>{% if title == 'INVOICE' %}<strong>Date</strong>{% endif %}</td>
                      <td class="col-md-1"><strong>Hours</strong></td>
                      <td><strong>Rate</strong></td>
                      <td><strong>Total</strong></td>
                      {% if not pdf %}
                      <td><strong>Dev</strong></td>
                      {% endif %}
                    </tr>
                    {% for entry in entries.values %}
                    <tr> 
                      {% if pdf %}
                      <td>{{ forloop.counter }}</td>
                      {% else %}
                      <td><h1><a href="{% url 'entry' entry.pk %}">{{ forloop.counter }}</a></h1></td>
                      {% endif %}
                      <td>{{ entry.notes }}</td>
                      <td>{% if title == 'INVOICE' %}{{ entry.date }}{% endif %}</td>
                      <td>{{ entry.hours }}</td>
                      <td>{{ entry.rate|default:'' }}</td>
                      <td>{{ entry.total|default:'' }}</td>
                      {% if not pdf %}
                      <td>{{ entry.dev|default:'' }}</td>
                      {% endif %}
                    </tr>
                    <tr></tr>
                    {% endfor %}
                    <tr></tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>Total:</strong> {{ company.currency_symbol }} {{ document.amount|default:'' }}</td>
                    </tr>
                  </tbody>
                </table>
