                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th></th>
                      <th> 
                        <h1>{{ title }}</h1>
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>
                        <strong>Id: {{ document.document_id|default:'' }}</strong>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <strong>From: {{ company.name|default:'' }}{{ company.address|default:''|linebreaks }}</strong>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <strong>Date: {{ document.issue_date }}</strong>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <strong>For: {{ document.client|default:'' }}{{ document.client.address|default:''|linebreaks }}</strong>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <strong>Subject: {{ document.subject }}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Item</strong>
                      </td>
                      <td>
                        <strong>Description</strong>
                      </td>
                      {% if title == 'INVOICE' %}
                      <td>
                        <strong>Date</strong>
                      </td>
                      {% endif %}
                      <td>
                        <strong>Hours</strong>
                      </td>
                      <td>
                        <strong>Rate</strong>
                      </td>
                      <td>
                        {% if not pdf %}<strong>User</strong>{% endif %}
                      </td>
                      <td>
                        {% if not pdf %}<strong>Subtotal</strong>{% else %}<strong>Total</strong>{% endif %}
                      </td>
                      <td>
                        {% if not pdf %}<strong>Paid Amount</strong>{% endif %}
                      </td>
                      <td>
                        {% if not pdf %}<strong>Total</strong>{% endif %}
                      </td>
                    </tr>
                    {% for entry in entries.values %}
                    <tr> 
                      <td>
                        {% if pdf %}{{ forloop.counter }}{% else %}<h1><a href="{% url 'entry' entry.pk %}">{{ forloop.counter }}</a></h1>{% endif %}
                      </td>
                      <td>
                        {{ entry.notes }}
                      </td>
                      {% if title == 'INVOICE' %}
                      <td>
                        {{ entry.date }}
                      </td>
                      {% endif %}
                      <td>
                        {{ entry.hours }}
                      </td>
                      <td>
                        {{ entry.rate|default:'' }}
                      </td>
                      {% if not pdf %}
                      <td>
                        {{ entry.user }}
                      </td>
                      {% endif %}
                      <td>
                        {{ entry.line_total|default:'' }}
                      </td>
                      <td>
                        {% if not pdf %}{{ entry.line_total_dev|default:'' }}{% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        {% if document.subtotal %}{{ company.currency_symbol }}{% endif %}{{ document.subtotal|default:'' }}
                      </td>
                      <td>
                        {% if not pdf %}{% if document.paid_amount %}{{ company.currency_symbol }}{% endif %}{{ document.paid_amount|default:'' }}{% endif %}
                      </td>
                      <td>
                        {% if not pdf %}{% if document.amount %}{{ company.currency_symbol }}{% endif %}{{ document.amount|default:'' }}{% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
