{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-6 ml-auto">
{% include 'info.html' %}
                </div>
                <div class="col-md-3">
                  <div class="dropdown">
                    <button class="btn btn-block btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'time_edit' %}?client={{ item.client.pk }}&estimate={{ item.pk }}&project={{ item.project.pk }}"><i class="fa fa-clock-o"></i> Add Time</a></li>
                      <li><a class="dropdown-item" href="{% url 'estimate_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="{% url 'estimate_view' pk=item.pk %}?pdf=true" target="_blank"><i class="fa fa-file-pdf-o"></i> Export PDF</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                      <li><a class="dropdown-item" href="{% url 'mail' %}?estimate={{ item.pk }}"><i class="fa fa-send-o"></i> Send Mail</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              {% include 'pdf_invoice.html' %}
              {% include 'delete_form.html' %}
{% endblock %}
