{% extends 'base.html' %}

{% load l10n %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="active"><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h3>Estimate {{ document.document_id|default:'' }}</h3>
                </div>
                <div class="col-md-2">
                  <h3>
                    <div class="dropdown pull-right">
                      <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'entry_edit' %}?client={{ document.client.pk }}"><i class="fa fa-plus-square fa-2x"></i>&nbsp;&nbsp;Add Entry</a></li>
                        <li><a href="{% url 'estimate_edit' pk=document.pk %}"><i class="fa fa-edit fa-2x"></i>&nbsp;Edit Estimate</a></li>
                        <li><a href="{% url 'estimate' pk=document.pk %}?pdf=true"><i class="fa fa-file-pdf-o fa-2x"></i>&nbsp;&nbsp;View PDF</a></li>
                      </ul>
                    </div>
                  </h3>
                </div>
              </div>
              <hr>
              {% include 'entry_table.html' %}
              <hr>
              <h3>
                <form 
                  action="{% url 'estimate_edit' pk=document.pk %}?times={% for entry in entries.values %}{{ entry.pk }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}"
                  method="post">{% csrf_token %}<input class="btn btn-lg btn-success" type="submit" value="Save Estimate">
                </form>
              </h3>
{% endblock %}
