{% extends 'base.html' %}

{% load l10n %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            {% endif %}
            <li class="active"><a href="{% url 'estimate_index' %}">Estimates</a></li>
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h3>Estimates</h3>
                </div>
                <div class="col-md-4">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-4">
                  <h3><a class="btn btn-lg btn-success pull-right" href="{% url 'estimate_edit' %}">Add Estimate</a></h3>
                </div>
              </div>
              <hr>
              {% include 'pagination.html' %}
              <table data-toggle="table"> 
                <thead>
                  <tr>
                    <th data-field="issue-date" data-sort-name="hidden-issue-date" data-sortable="true">Issue Date</th>
                    <th data-field="hidden-issue-date" data-sortable="true" data-visible="false">Hidden Issue Date</th>
                    <th data-field="estimate-id" data-sortable="true">Id</th>
                    <th data-field="client" data-sort-name="hidden-client" data-sortable="true">Client</th>
                    <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                    <th data-field="subject" data-sortable="true">Subject</th>
                    <th data-field="amount" data-sort-name="hidden-amount" data-sortable="true">Amount</th>
                    <th data-field="hidden-amount" data-sortable="true" data-visible="false">Hidden Amount</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for estimate in items %}
                  <tr>
                    <td>{{ estimate.issue_date|date:'m/d/Y'|default:'' }}</td>
                    <td>{{ estimate.issue_date|date:'U'|default:'' }}</td>
                    <td>{{ estimate.document_id|default:'' }}</td>
                    {% if estimate.client %}<td><a href="{% url 'client' estimate.client.pk %}">{{ estimate.client|default:'' }}</a></td>{% else %}<td></td>{% endif %}
                    <td>{{ estimate.client }}</td>
                    <td>{{ estimate.subject|default:'' }}</td>
                    <td>{{ company.currency_symbol }}{{ estimate.amount|default:'' }}</td>
                    <td>{{ estimate.amount|unlocalize|default:'' }}</td>
                    <td><a href="{% url 'estimate' estimate.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'estimate_edit' estimate.pk %}"><i class="fa fa-edit fa-3x"></a></td>
                    <td><form action="{% url 'estimate_edit' estimate.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <hr>
              {% include 'pagination.html' %}
{% endblock %}
