{% extends 'base.html' %}

{% block content %}

                <h3>Estimate {{ estimate.pk }}<a class="btn btn-default pull-right" href="{% url 'estimate_edit' pk=estimate.pk %}">Edit Estimate</a></h3>
                <a href="{% url 'estimate_pdf' pk=estimate.pk %}"><i class="fa fa-file-pdf-o fa-2x pull-right"></i></a>
                <hr>
                <table data-toggle="table">
                  <tbody>
                    <tr>
                      <td class="col-md-9"><h1>ESTIMATE</h1></td>
                      <td class="col-md-3"><h4>From:</h4></td>
                    </tr>
                    <tr>
                      <td class="col-md-9">
                        <h4>Estimate Id:</h4>
                        <h4>Issue Date:</h4>
                        <h4>Subject:</h4>
                      </td>
                      <td class="col-md-3">
                        <h4>Estimate For:</h4>
                        <h5>{{ estimate.client }}</h5>
                      </td>
                    </tr>
                    {% for entry in entries %}
                    <tr> 
                      <td>{{ entry.pk }}</td>
                      <td>{{ entry.hours }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

{% endblock %}
