{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-4 mx-auto">
{% include 'info.html' %}
            </div>
            <div class="col-md-2 mb-3">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group float-right">
                <a class="btn btn-lg btn-success" href="{% url 'estimate_edit' pk=item.pk %}"><i class="fa fa-edit"></i> Edit</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'time_edit' %}?client={{ item.client.pk }}&estimate={{ item.pk }}&project={{ item.project.pk }}"><i class="fa fa-plus"></i> Add Time</a>
                  <div class="dropdown-divider"></div>
{% include 'actions.html' %}
                </div>
              </div>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
{% include 'invoice_pdf.html' %}
{% endblock %}
