{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Files</h1>
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><a class="btn btn-block btn-lg btn-success" href="{% url 'file_edit' %}">Add File <i class="fa fa-plus"></i></a></div>
            </div>
          </div>
{% include 'pagination.html' %}
            <table data-toggle="table" data-classes="table table-no-bordered">
              <thead>
                <tr>
                  <th>Name</th> 
                  <th>Doc</th> 
                  <th>Image</th> 
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                  <td><a href="{% url 'file' item.pk %}">{{ item.pk }}</td>
                  <td>{% if item.doc %}{{ item.doc.url }}{% endif %}</td>
                  <td>{% if item.image %}{{ item.image.url }}{% endif %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{% include 'pagination.html' %}
{% endblock %}
