{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-9">
                  <h1 style="border-bottom: none;">{{ doc_type|title }}</h1>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="dropdown">
                    <button class="btn btn-block btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'file_edit' pk=item.pk %}"><i class="fa fa-edit"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                    </ul>
                  </div>
                </div>
              </div>
{% include 'delete_form.html' %}
              <div class="row">
                <div class="col-md-12">
                  <h1>{{ item.name }}</h1>
                </div>
              </div>
{% endblock %}
