{% extends 'base.html' %}

{% block content %}

                <h3>Dashboard{% if request.user.is_staff %}<a class="btn btn-default pull-right" href="{% url 'client_edit' %}">Add Client</a>{% endif %}</h3>
                <hr>
                <p class="lead">
                <strong>{{ company.name|default:'Company' }}</strong> has
                <strong>{{ clients.count|default:0 }}</strong> clients,
                <strong>{{ contacts.count|default:0 }}</strong> contacts,
                <strong>{{ projects.count|default:0 }}</strong> projects,
                <strong>{{ tasks.count|default:0 }}</strong> tasks,
                <strong>{{ times.count|default:0 }}</strong> time entries,
                <strong>{{ invoices.count|default:0 }}</strong> invoices, and
                <strong>{{ estimates.count|default:0 }}</strong> estimates.
                </p>

{% endblock %}
