{% extends 'base.html' %}

{% block content %}

                <h3>Dashboard{% if request.user.is_staff %}<a class="btn btn-default pull-right" href="{% url 'client_edit' %}">Add Client</a>{% endif %}</h3>
                <hr>
                {% if request.user.is_staff %}
                <p class="lead">
                {{ company.name|default:'Company' }} has
                {{ clients.count|default:0 }} clients ({{ clients_active.count|default:0 }} active),
                {{ contacts.count|default:0 }} contacts ({{ contacts_active.count|default:0 }} active),
                {{ projects.count|default:0 }} projects ({{ projects_active.count|default:0 }} active),
                {{ tasks.count|default:0 }} tasks ({{ tasks_active.count|default:0 }} active),
                {{ times.count|default:0 }} time entries,
                {{ invoices.count|default:0 }} invoices, and
                {{ estimates.count|default:0 }} estimates.
                </p>
                {% endif %}

                <h4>Invoices</h4>
                <ul>
                {% for invoice in invoices_active %}
                <li><a href="{% url 'invoice' invoice.pk %}">{{ invoice }}</a></li>
                {% endfor %}
                </ul>

{% endblock %}
