{% extends 'base.html' %}
{% block content %}
          <h3>Dashboard{% if request.user.is_staff %}<a class="btn btn-default pull-right" href="{% url 'client_edit' %}">Add Client</a>{% endif %}</h3>
          <hr>
          {% if request.user.is_staff %}
          <h4>Company</h4>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table">
                <thead>
                  <tr>
                    <th>Name</th> 
                    <th>Clients</th> 
                    <th>Contacts</th> 
                    <th>Projects</th> 
                    <th>Tasks</th> 
                    <th>Times</th> 
                    <th>Invoices</th> 
                    <th>Estimates</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ company.name|default:'Company' }}</td>
                    <td>{{ clients.count|default:0 }} ({{ clients_active.count|default:0 }} active)</td>
                    <td>{{ contacts.count|default:0 }} ({{ contacts_active.count|default:0 }} active)</td>
                    <td>{{ projects.count|default:0 }} ({{ projects_active.count|default:0 }} active)</td>
                    <td>{{ tasks.count|default:0 }} ({{ tasks_active.count|default:0 }} active)</td>
                    <td>{{ times.count|default:0 }}</td>
                    <td>{{ invoices.count|default:0 }}</td>
                    <td>{{ estimates.count|default:0 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
          {% if request.user.is_staff %}
          <h4>Invoices</h4>
          <div class="row">
            <div class="col-md-6">
              <table data-toggle="table"> 
                <thead>
                  <tr>
                    <th data-sortable="true">Invoice</th>
                    <th data-sortable="true">Project</th>
                    <th data-sortable="true">Gross</th>
                    <th data-sortable="true">Net</th>
                  <tr> 
                </thead>
                <tbody>
                {% for invoice in invoices_active %}
                  <tr>
                    <td><a href="{% url 'invoice' invoice.pk %}">#{{ invoice.document_id }}</a></td>
                    <td><a href="{% url 'project' invoice.project.pk %}">{{ invoice.project.name }}</a></td>
                    <td>{{ company.currency_symbol }}{{ invoice.subtotal }}</td>
                    <td>{{ company.currency_symbol }}{{ invoice.amount }}</td>
                  </tr>
                {% endfor %}
                  <tr>
                    <td><strong>Total:</strong></td>
                    <td></td>
                    <td>{{ company.currency_symbol }}{{ gross }}</td>
                    <td>{{ company.currency_symbol }}{{ net }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
{% endblock %}
