{% include 'pagination.html' %}
          <div class="table-responsive">
            <table data-toggle="table">
              <thead>
                <tr>
                  <th>Entry</th> 
                </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ item.entry }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% include 'pagination.html' %}
