                <div class="card px-3 py-3 mb-3">
                  <div class="card-block">
                    <p class="card-text text-muted">Created: <span class="float-right">{{ item.created }}</span></p>
                    <p class="card-text text-muted">Updated: <span class="float-right">{{ item.updated }}</span></p>
                    {% if item.due_date %}<p class="card-text text-muted">Due: <span class="float-right">{{ item.due_date }}</span></p>{% endif %}
                    {% if item.client_set.all %}{% if item.client_set.all.0 %}<p class="card-text text-muted">Client: <span class="float-right"><a href="{% url 'client_view' item.client_set.all.0.pk %}">{{ item.client_set.all.0 }}</a></span></p>{% endif %}{% endif %}
                    {% if item.company_set.all %}{% if item.company_set.all.0 %}<p class="card-text text-muted">Company: <span class="float-right"><a href="{% url 'settings_company'  %}">{{ item.company_set.all.0 }}</a></span></p>{% endif %}{% endif %}
                    {% if item.tags.all %}<p class="card-text text-muted">Tags: <span class="badge badge-default float-right">{{ item.tags.all.0 }}</span></p>{% endif %}
                    {% if item.contacts.all %}<p class="card-text text-muted">Contacts: <span class="float-right">{% for contact in item.contacts.all %}{{ contact }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></p>{% endif %}
                  </div>
                </div>
