{% extends 'base.html' %}
{% load l10n %}
{% block content %}
              <div class="row">
                <div class="col-md-2 offset-md-10">
                  <div class="dropdown pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'entry_edit' %}?project={{ item.project.pk }}"><i class="fa fa-clock-o"></i> Add Time</a></li>
                      <li><a class="dropdown-item" href="{% url 'invoice_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="{% url 'invoice' pk=item.pk %}?pdf=true" target="_blank"><i class="fa fa-file-pdf-o"></i> Export PDF</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm-{{ item.pk|unlocalize }}"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                      {% if item.project %}<li><a class="dropdown-item" href="{% url 'project' pk=item.project.pk %}"><i class="fa fa-folder-open-o"></i> View Project</a></li>{% endif %}
                    </ul>
                  </div>
                </div>
              </div>
{% include 'delete_form.html' %}
{% include 'pdf_invoice.html' %}
              <div class="row">
                <div class="col-md-3">
                  <form 
                    action="{% url 'invoice_edit' pk=item.pk %}?times={% for entry in entries.values %}{{ entry.pk|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}"
                    method="post">{% csrf_token %}{% if not last_payment_date %}<input class="btn btn-block btn-lg btn-success" type="submit" value="Update Amount Due">{% else %}<button class="btn btn-block btn-lg btn-success" disabled>Update Amount Due</button>{% endif %}
                  </form>
                </div>
                <div class="col-md-3 offset-md-6">
                  <form
                    action="{% url 'invoice_edit' pk=item.pk %}?times={% for entry in entries.values %}{{ entry.pk|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}&paid=true"
                    method="post">{% csrf_token %}{% if not last_payment_date %}<input class="btn btn-block btn-lg btn-secondary" type="submit" value="Mark Paid">{% else %}<button class="btn btn-block btn-lg btn-secondary" disabled>Mark Paid</button>{% endif %}
                  </form>
                </div>
              </div>
{% endblock %}
