                <table data-toggle="table table-no-bordered">
                  <thead>
                    <tr>
                      <th><h1>INVOICE</h1></th>
                      <th class="col-md-7"></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <strong>From:</strong>
                        <div>{{ company.name }}</div>
                        <div>{{ company.address|linebreaks }}</div>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>ID:</strong> {{ invoice.invoice_id|default:'' }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>For:</strong> {{ invoice.client|default:'' }}</td>
                    </tr>
                    <tr>
                      <td><strong>Date:</strong> {{ invoice.issue_date }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Subject:</strong> {{ invoice.subject }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Item</strong></td>
                      <td><strong>Description</strong></td>
                      <td></td>
                      <td class="col-md-1"><strong>Quantity</strong></td>
                      <td><strong>Unit Price</strong></td>
                      <td><strong>Amount</strong></td>
                    </tr>
                    {% for entry in entries.values %}
                    <tr> 
                      <td><a href="{% url 'entry' entry.pk %}">{{ forloop.counter }}</a></td>
                      <td>{{ entry.notes }}</td>
                      <td></td>
                      <td>{{ entry.hours }}</td>
                      <td>{{ entry.rate }}</td>
                      <td>{{ entry.total }}</td>
                    </tr>
                    <tr></tr>
                    {% endfor %}
                    <tr></tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>Total:</strong> {{ company.currency_symbol }} {{ invoice.amount|default:'' }}</td>
                    </tr>
                  </tbody>
                </table>
