{% extends 'base.html' %}

{% load l10n %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li class="active"><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h3>Invoice {{ document.invoice_id|default:'' }}</h3>
                </div>
                <div class="col-md-2">
                  <h3>
                    <div class="dropdown pull-right">
                      <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'entry_edit' %}?project={{ document.project.pk }}"><i class="fa fa-plus-square fa-2x"></i>&nbsp;&nbsp;Add Entry</a></li>
                        <li><a href="{% url 'invoice_edit' pk=document.pk %}"><i class="fa fa-edit fa-2x"></i>&nbsp;Edit Invoice</a></li>
                        <li><a href="{% url 'invoice' pk=document.pk %}?pdf=true"><i class="fa fa-file-pdf-o fa-2x"></i>&nbsp;&nbsp;View PDF</a></li>
                        {% if document.project %}<li><a href="{% url 'project' pk=document.project.pk %}"><i class="fa fa-chevron-circle-right fa-2x"></i>&nbsp;View Project</a></li>{% endif %}
                      </ul>
                    </div>
                  </h3>
                </div>
              </div>
              <hr>
              {% include 'entry_table.html' %}
              <hr>
              <div class="row">
                <div class="col-md-6">
                <form 
                  action="{% url 'invoice_edit' pk=document.pk %}?times={% for entry in entries.values %}{{ entry.pk|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}"
                  method="post">{% csrf_token %}<input class="btn btn-lg btn-success" type="submit" value="Save Invoice">
                </form>
                </div>
                <div class="col-md-6">
                <form class="pull-right"
                  action="{% url 'invoice_edit' pk=document.pk %}?times={% for entry in entries.values %}{{ entry.pk|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}&paid=true"
                  method="post">{% csrf_token %}<input class="btn btn-lg btn-default" type="submit" value="Mark Paid">
                </form>
                </div>
              </div>
{% endblock %}
