{% extends 'base.html' %}
{% load l10n %}
{% block content %}
          <div class="row">
            <div class="col-md-12 mb-3 mr-auto">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group float-right">
                <a class="btn btn-lg btn-success" href="{% url 'invoice_edit' pk=item.pk %}"><i class="fa fa-edit"></i> Edit</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'time_edit' %}?invoice={{ item.pk|unlocalize }}"><i class="fa fa-plus"></i> Add Time</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-sent-modal-sm"><i class="fa fa-check-square-o"></i> Sent</a>
                  <a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-not-sent-modal-sm"><i class="fa fa-square-o"></i> Sent</a>
                  <div class="dropdown-divider"></div>
{% include 'actions.html' %}
                </div>
              </div>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
{% include 'sent_form.html' %}
{% include 'invoice_pdf.html' %}
{% endblock %}
