{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li class="active"><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h3>Invoices</h3>
                </div>
                <div class="col-md-4">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-4">
                  <h3><a class="btn btn-lg btn-success pull-right" href="{% url 'invoice_edit' %}">Add Invoice</a></h3>
                </div>
              </div>
              <hr>
              {% include 'pagination.html' %}
              <table data-toggle="table" data-sort-name="hidden-id" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="hidden-id" data-sortable="true" data-visible="false">Hidden Id</th>
                    <th data-field="hidden-issue-date" data-sortable="true" data-visible="false">Hidden Issue Date</th>
                    <th data-sort-name="hidden-issue-date" data-sortable="true">Issue Date</th>
                    <th data-field="invoice_id" data-sortable="true">Id</th>
                    <th data-field="hidden-client" data-sortable="true">Hidden Client</th>
                    <th data-sort-name="hidden-client" data-sortable="true">Client</th>
                    <th data-field="project" data-sortable="true">Project</th>
                    <th data-field="subject" data-sortable="true">Subject</th>
                    <th data-field="amount" data-sortable="true">Amount</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for invoice in items %}
                  <tr>
                    <td>{{ invoice.pk }}</td>
                    <td>{{ invoice.issue_date|date:'U'|default:'' }}</td>
                    <td>{{ invoice.issue_date|date:'m/d/Y'|default:'' }}</td>
                    <td>{{ invoice.document_id|default:'' }}</td>
                    <td>{{ invoice.client }}</td>
                    {% if invoice.client %}
                      <td><a href="{% url 'client' invoice.client.pk %}">{{ invoice.client.name|default:'' }}</a></td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    {% if invoice.project %}
                      <td><a href="{% url 'project' invoice.project.pk %}">{{ invoice.project.name|default:'' }}</a></td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    <td>{{ invoice.subject|default:'' }}</td>
                    <td>{{ invoice.subtotal|default:'' }}</td>
                    <td><a href="{% url 'invoice' invoice.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'invoice_edit' invoice.pk %}"><i class="fa fa-edit fa-3x"></a></td>
                    <td><form action="{% url 'invoice_edit' invoice.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <hr>
              {% include 'pagination.html' %}
{% endblock %}
