                <table data-toggle="table table-no-bordered">
                  <thead>
                    <tr>
                      <th><h1>INVOICE</h1></th>
                      <th class="col-md-9"></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <strong>From:</strong>
                        <div>{{ company.name }}</div>
                        <div>{{ company.address }}</div>
                      </td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Id:</strong> {{ invoice.invoice_id }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>For:</strong> {{ invoice.client|default:'' }}</td>
                    </tr>
                    <tr>
                      <td><strong>Date:</strong> {{ invoice.issue_date }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><strong>Subject:</strong> {{ invoice.subject }}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td><h5>Item</h5></td>
                      <td><h5>Description</h5></td>
                      <td></td>
                      <td><h5>Quantity</h5></td>
                      <td><h5>Unit Price</h5></td>
                      <td><h5>Amount</h5></td>
                    </tr>
                    {% for entry in items.values %}
                    <tr> 
                      <td>{{ forloop.counter }}</td>
                      <td>{{ entry.notes }}</td>
                      <td></td>
                      <td>{{ entry.hours }}</td>
                      <td>{{ entry.rate }}</td>
                      <td>{{ entry.total }}</td>
                    </tr>
                    <tr></tr>
                    {% endfor %}
                    <tr></tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><strong>Total:</strong> {{ invoice.invoice_amount }}</td>
                    </tr>
                  </tbody>
                </table>
