{% extends 'base.html' %}
{% load l10n %}

{% block sidebar %}
{% endblock %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h1>Invoice {{ document.invoice_id|default:'' }}</h1>
                </div>
                <div class="col-md-2">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'entry_edit' %}?project={{ document.project.pk }}"><i class="fa fa-plus-square"></i> Add Time</a></li>
                      <li><a class="dropdown-item" href="{% url 'invoice_edit' pk=document.pk %}"><i class="fa fa-cog"></i> Edit Invoice</a></li>
                      <li><a class="dropdown-item" href="{% url 'invoice' pk=document.pk %}?pdf=true"><i class="fa fa-file-pdf-o"></i> View PDF</a></li>
                      {% if document.project %}<li><a class="dropdown-item" href="{% url 'project' pk=document.project.pk %}"><i class="fa fa-chevron-circle-right"></i> View Project</a></li>{% endif %}
                    </ul>
                  </div>
                </div>
              </div>
{% include 'invoice_time.html' %}
              <div class="row">
                <div class="col-md-6">
                  <form 
                    action="{% url 'invoice_edit' pk=document.pk %}?times={% for entry in entries.values %}{{ entry.pk|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}"
                    method="post">{% csrf_token %}<input class="btn btn-lg btn-success" type="submit" value="Update Amount Due">
                  </form>
                </div>
                <div class="col-md-3 offset-md-3">
                  <form
                    action="{% url 'invoice_edit' pk=document.pk %}?times={% for entry in entries.values %}{{ entry.pk|unlocalize }}{% if not forloop.last %},{% endif %}{% endfor %}&subtotal={{ subtotal|unlocalize }}&paid_amount={{ paid_amount|unlocalize }}&amount={{ amount|unlocalize }}&paid=true"
                    method="post">{% csrf_token %}<input class="btn btn-lg btn-secondary" type="submit" value="Mark Paid">
                  </form>
                </div>
              </div>
{% endblock %}
