{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-12">
                  <h1>Logs</h1>
                </div>
              </div>
{% include 'pagination.html' %}
            <table data-toggle="table" data-classes="table table-no-bordered">
              <thead>
                <tr>
                  <th>Created</th> 
                  <th>Entry</th> 
                </tr>
              </thead>
              <tbody>
              {% for item in items.logs %}
                <tr>
                  <td>{{ item.created }}</td>
                  <td>{{ item.entry }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
{% include 'pagination.html' %}
{% endblock %}
