              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link {% if active_tab == 'company' %}active{% endif %}" href="{% url 'company' %}">Company</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if active_tab == 'contract' %}active{% endif %}" href="{% url 'contract_settings' %}">Contract</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if active_tab == 'system' %}active{% endif %}" href="{% url 'settings' %} ">System</a>
                    </li>
                  </ul>
                </div>
              </div>
