{% load staticfiles %}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img width=24 src="{% static 'favicon.ico' %}"></a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">  <!-- http://stackoverflow.com/a/25044880/185820 -->
{% include 'dropdown.html' %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'client' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'client_index' %}">Clients</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'contact' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'contact_index' %}">Contacts</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'contract' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'contract_index' %}">Contracts</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'estimate' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'estimate_index' %}">Estimates</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'invoice' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'invoice_index' %}">Invoices</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'note' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'note_index' %}">Notes</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'project' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'project_index' %}">Projects</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'proposal' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'proposal_index' %}">Proposals</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'task' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'task_index' %}">Tasks</a></li>{% endif %}
          {% if request.user.is_staff %}<li class="nav-item {% if active_nav == 'time' %}bg-success rounded{% endif %}"><a class="nav-link text-black" href="{% url 'time_index' %}">Times</a></li>{% endif %}
        </ul>
      </div>
    </nav>
