{% load staticfiles %}
    <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-database"></i></a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">  <!-- http://stackoverflow.com/a/25044880/185820 -->
{% include 'dropdown.html' %}
          {% if is_staff %}<li class="nav-item hover {% if active_nav == 'client' %}bg-success {% endif %}"><a class="nav-link text-dark" href="{% url 'client_index' %}">Clients</a></li>{% endif %}
          {% if is_staff %}<li class="nav-item hover {% if active_nav == 'contact' %}bg-success {% endif %}"><a class="nav-link text-dark" href="{% url 'contact_index' %}">Contacts</a></li>{% endif %}
          {% if is_staff %}<li class="nav-item hover {% if active_nav == 'note' %}bg-success {% endif %}"><a class="nav-link text-dark" href="{% url 'note_index' %}">Notes</a></li>{% endif %}
          {% if is_staff %}<li class="nav-item hover {% if active_nav == 'report' %}bg-success {% endif %}"><a class="nav-link text-dark" href="{% url 'report_index' %}">Reports</a></li>{% endif %}
          {% if is_staff %}<li class="nav-item hover {% if active_nav == 'task' %}bg-success {% endif %}"><a class="nav-link text-dark" href="{% url 'task_index' %}">Tasks</a></li>{% endif %}
          {% if is_staff %}<li class="nav-item hover {% if active_nav == 'user' %}bg-success {% endif %}"><a class="nav-link text-dark" href="{% url 'user_index' %}">Users</a></li>{% endif %}
        </ul>
        </ul>
      </div>
    </nav>
