{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Newsletters</h1>
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><a class="btn btn-block btn-lg btn-success" href="{% url 'newsletter_edit' %}">Add Newsletter <i class="fa fa-plus"></i></a></div>
            </div>
          </div>
{% with items=items.newsletters %}
{% include 'pagination.html' %}
{% endwith %}
          <table data-toggle="table" data-classes="table table-no-bordered">
            <thead>
              <tr>
                <th>Created</th> 
                <th>Subject</th> 
                <th>View</th> 
                <th>Edit</th> 
              </tr>
            </thead>
            <tbody>
            {% for item in items.newsletters %}
              <tr>
                <td>{{ item.created }}</td>
                <td>{{ item.subject|default:'' }}</td>
                <td><a href="{% url 'newsletter' item.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}"></i> View</a></td>
                <td><a href="{% url 'newsletter_edit' item.pk %}"><i class="fa fa-cog fa-{{ icon_size }}"></i> Edit</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
{% with items=items.newsletters %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
