{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Notes</h1>
{% include 'note_stats.html' %}
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><a class="btn btn-block btn-lg btn-success" href="{% url 'note_edit' %}">Add Note <i class="fa fa-plus"></i></a></div>
            </div>
          </div>
{% with items=items.notes %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'table_notes.html' %}
{% with items=items.notes %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
