{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-4">
              <h1 style="border-bottom: none;"><a class="text-dark" href="{% url 'note_index' %}">Notes</a> &raquo; {% if item.title %}{{ item.title }}{% else %}Note{% endif %}</h1>
            </div>
            <div class="col-md-4 mr-auto">
{% include 'info.html' %}
            </div>
            <div class="col-md-2 mb-3">
              <!-- http://getbootstrap.com/docs/4.0/components/dropdowns/#split-button-dropdowns -->
              <div class="btn-group float-right">
                <a class="btn btn-lg btn-success" href="{% url 'note_edit' pk=item.pk %}"><i class="fa fa-edit"></i> Edit</a>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
{% include 'actions.html' %}
                </div>
              </div>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
          {% if item.note %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-block">
                  <div class="card-text p-3">{{ item.note|safe }}</div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
{% endblock %}
