{% if not 'search' in request.POST %}
<div class="row">
  <div class="col-md-12">
    <button class="btn">
      Active <span class="badge badge-secondary">{{ note_stats.active_note_count }}</span>
    </button>
    <button class="btn">
      Inactive <span class="badge badge-secondary">{{ note_stats.inactive_note_count }}</span>
    </button>
    <button class="btn">
      Visible <span class="badge badge-secondary">{{ note_stats.not_hidden_count }}</span>
    </button>
    <button class="btn">
      Hidden <span class="badge badge-secondary">{{ note_stats.hidden_note_count }}</span>
    </button>
    <button class="btn">
      Total <span class="badge badge-secondary">{{ note_stats.total_note_count }}</span>
    </button>
  </div>
</div>
{% endif %}
