{% extends 'base.html' %}
{% block content %}
            <div class="row">
              <div class="col-md-4">
                <h1><a class="mute-url" href="{% url 'note_index' %}">Notes</a> &raquo; Note</h1>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-block">
                    <p class="card-text text-muted">Created: <span class="float-right">{{ item.created }}</span></p>
                    <p class="card-text text-muted">Updated: <span class="float-right">{{ item.updated }}</span></p>
                    {% if item.due_date %}<p class="card-text text-muted">Due: <span class="float-right">{{ item.due_date }}</span></p>{% endif %}
                    {% if item.client_set.all %}{% if item.client_set.all.0 %}<p class="card-text text-muted">Client: <span class="float-right"><a href="{% url 'client' item.client_set.all.0.pk %}">{{ item.client_set.all.0 }}</a></span></p>{% endif %}{% endif %}
                    {% if item.company_set.all %}{% if item.company_set.all.0 %}<p class="card-text text-muted">Company: <span class="float-right"><a href="{% url 'settings_company'  %}">{{ item.company_set.all.0 }}</a></span></p>{% endif %}{% endif %}
                    {% if item.tags.all %}<p>Tags: <span class="badge badge-default float-right">{{ item.tags.all.0 }}</span></p>{% endif %}
                    {% if item.contacts.all %}<p>Contacts: <span class="float-right">{% for contact in item.contacts.all %}{{ contact }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></p>{% endif %}
                  </div>
                </div>
              </div>
              <div class="offset-md-1 col-md-3">
                <div class="dropdown pull-right">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-copy-modal-sm"><i class="fa fa-plus-circle"></i> Copy</a></li>
                    <li><a class="dropdown-item" href="{% url 'note_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                    <li><a class="dropdown-item" href="{% url 'note' pk=item.pk %}?pdf=true" target="_blank"><i class="fa fa-file-pdf-o"></i> Export PDF</a></li>
                    <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                    <li><a class="dropdown-item" href="{% url 'mail' %}?note={{ item.pk }}"><i class="fa fa-send-o"></i> Send Mail</a></li>
                  </ul>
                </div>
              </div>
            </div> 
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
            <br>
            {% if item.title %}<h2>{{ item.title }}</h2>{% endif %}
            {% if item.note %}
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-block">
                    <div class="card-text">{{ item.note|safe }}</div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
{% endblock %}
