{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Notes</h1>
              <h3>{% if not 'search' in request.POST %}({{ active_note_count }} active, {{ hidden_note_count }} hidden, {{ inactive_note_count }} inactive, {{ total_note_count }} total){% endif %}</h3>
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><a class="btn btn-block btn-lg btn-success" href="{% url 'note_edit' %}">Add Note <i class="fa fa-plus"></i></a></div>
            </div>
          </div>
{% include 'pagination.html' %}
          <table data-toggle="table" data-classes="table table-no-bordered">
            <thead>
              <tr>
                <th data-sortable="true">#</th>
                <th data-sort-name="hidden-note" data-sortable="true">Note</th>
                <th data-field="hidden-note" data-sortable="true" data-visible="false">Hidden Note</th>
                <th data-sort-name="hidden-due" data-sortable="true" data-visible="true">Due</th>
                <th data-field="hidden-due" data-sortable="true" data-visible="false">Hidden Due</th>
                <th data-valign="top" data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th> 
                <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                {% if 'search' in request.POST %}<th data-valign="top" data-sortable="true">Hidden</th>{% endif %}
                <th data-valign="top">View</th>
                <th data-valign="top">Edit</th> 
              </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <td>{{ forloop.counter }}</a></td>
                <td>{{ item.note|safe }}</td>
                <td>{{ item.note|striptags|truncatechars:8 }}</td>
                <td>{{ item.due_date|date:'Y-m-d' }}</td>
                <td>{{ item.due_date|date:'U' }}</td>
                <td><form action="{% url 'note_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                <td>{{ item.active }}</td>
                {% if 'search' in request.POST %}<td>{% if item.hidden %}<i class="fa fa-check-circle text-success"></i>{% endif %}</td>{% endif %}
                <td><a href="{% url 'note' item.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }} valign-middle"></i> View</a></td>
                <td><a href="{% url edit_url item.pk %}"><i class="fa fa-cog fa-{{ icon_size }}"></i> Edit</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
{% include 'pagination.html' %}
{% endblock %}
