{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-4">
              <h1 style="border-bottom: none;">Notes</h1>
            </div>
            <div class="col-md-4">
{% include 'info.html' %}
            </div>
            <div class="col-md-3 ml-auto">
              <a class="btn btn-block btn-lg btn-success" href="{% url 'note_edit' %}">Add Note</a>
            </div>
          </div>
{% with items=items.notes %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'table_notes.html' %}
{% with items=items.notes %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
