          {% if items.paginator %}
          <div class="navbar bg-inverse">
            <!-- http://v4-alpha.getbootstrap.com/components/utilities/#horizontal-centering -->
            <div class="col-md-9 offset-md-3">
              <span>Items {{ items.start_index }} to {{ items.end_index }} of {{ items.paginator.count }}</span>
              {% if items.has_previous %} <a class="bg-inverse btn btn-secondary" href="?page=1&active-only=false"><i class="fa fa-step-backward"></i></a> <a class="bg-inverse btn btn-secondary" href="?page={{ items.previous_page_number }}&active-only=false"><i class="fa fa-chevron-circle-left"></i></a> {% else %} <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-step-backward"></i></button> <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-chevron-circle-left"></i></button> {% endif %}
              <span>Page {{ items.number }} of {{ items.paginator.num_pages }}</span>
              {% if items.has_next %} <a class="bg-inverse btn btn-secondary" href="?page={{ items.next_page_number }}&active-only=false"><i class="fa fa-chevron-circle-right"></i></a> <a class="bg-inverse btn btn-secondary" href="?page={{ items.paginator.num_pages }}&active-only=false"><i class="fa fa-step-forward"></i></a> {% else %} <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-chevron-circle-right"></i></button> <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-step-forward"></i></button>
              {% endif %}
            </div>
          </div>
          {% else %}  <!-- Single page -->
          <div class="navbar bg-inverse">
            <!-- http://v4-alpha.getbootstrap.com/components/utilities/#horizontal-centering -->
            <div class="col-md-9 offset-md-3">
              {% if items.count %} <span>Items 1 to {{ items.count }} of {{ items.count }}</span> {% else %} <span>Items 0 to {{ items.count }} of {{ items.count }}</span> {% endif %}
              <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-step-backward"></i></button> <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-chevron-circle-left"></i></button> <span>Page 1 of 1</span> <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-chevron-circle-right"></i></button> <button class="bg-inverse btn btn-secondary" disabled><i class="fa fa-step-forward"></i></button>
            </div>
          </div>
          {% endif %}
