            <!-- Used by invoice and estimate -->
            <!-- Include styles here for pdf conversion -->
            <style>
              body {
                background: white;
              }
              .border-bottom {
                border-bottom: 1px solid lightgray;
              }
              .border-right {
                border-right: 1px solid lightgray;
              }
              #line-items th, #line-items td {
                padding: 5px;
              }
              .field-name {
                color: gray;
                padding: 0 3px 0 0;
              }
              .field-value {
                padding: 0 0 0 3px;
              }
            </style>
            <table border=0 style="margin: 0 0 75px 0;">
              <tr> 
                <!-- Left column -->
                <td colspan=2 style="font-weight: bold; font-size: 300%;"><h1 style="border-bottom: none;">{{ doc_type|upper }}</h1></td>
                <!-- Right column -->
                <td valign="top" class="field-name border-right" align="right">From</td>
                <td valign="top" class="field-value"> 
                  <strong>{% if not pdf %}<a href="{% url 'settings_company' %}">{{ company_name|default:'' }}</a> <a href="{% url 'settings_company_edit' %}"><i class="fa fa-cog"></i></a>{% else %}{{ company_name|default:''|linebreaksbr }}{% endif %}</strong>
                  <br>
                  {{ company_address|default:''|linebreaksbr }}
                </td>
              </tr>
              <tr><!-- After "From" and before "Invoice For" --></tr>
              <tr>
                <!-- Left column -->
                <td valign="top" align="left" style="width: 20%" class="field-name border-right">Id</td>
                <td valign="top" align="left" style="width: 20%" class="field-value">{{ item.pk|default:'' }}</td>
                <!-- Right column -->
                <td rowspan=5 valign="top" align="right" class="field-name border-right">For</td>
                <td rowspan=5 valign="top" class="field-value">
                  <!-- Name -->
                  <strong>
                  {% if item.client %} {% if not pdf %}
                    <a href="{% url 'client_view' item.client.pk %}">{{ item.client.name|default:''|linebreaksbr }}</a>
                    <a href="{% url 'client_edit' item.client.pk %}"><i class="fa fa-cog"></i></a>
                  {% else %} {{ item.client.name|default:''|linebreaksbr }} {% endif %}
                  {% elif item.user %} {% if not pdf %}
                    <a href="{% url 'user_view' item.user.pk %}">{{ item.user.get_full_name|default:''|linebreaksbr }}</a>
                    <a href="{% url 'user_edit' item.user.pk %}"><i class="fa fa-cog"></i></a>
                  {% else %} {{ item.user.get_full_name|default:''|linebreaksbr }} {% endif %}
                  {% endif %}
                  </strong> <br>
                  <!-- Address -->
                  {% if item.client %}
                  {{ item.client.address|default:''|linebreaksbr }}
                  {% elif item.user %}
                  {{ item.user.profile.address|default:''|linebreaksbr }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <!-- Left column -->
                <td valign="top" align="left" style="width: 16%" class="field-name border-right">Issue Date</td>
                <td valign="top" align="left" style="width: 50%" class="field-value">{{ item.issue_date|date:'Y-m-d' }}</td>
              </tr>
              <tr>
                <!-- Left column -->
                <td valign="top" align="left" style="width: 16%" class="field-name border-right">{% if invoice %}Due Date{% endif %}</td>
                <td valign="top" align="left" style="width: 50%" class="field-value">{% if invoice %}{{ item.issue_date|date:'Y-m-d' }} (upon receipt){% endif %}</td>
              </tr>
              <tr>
                <!-- Left column -->
                <td valign="top" align="left" style="width: 16%" class="field-name border-right">Subject</td>
                <td valign="top" align="left" style="width: 50%" class="field-value">{{ item.subject|default:'' }} {% if item.project %}<a href="{% url 'project_view' item.project.pk %}"><i class="fa fa-arrow-circle-right"></a>{% endif %}</td>
              </tr>
              <tr>
                <!-- Left column -->
                <td valign="top" align="left" style="width: 16%" class="field-name border-right"><strong>{% if item.po_number %}PO Number{% endif %}<strong></td>
                <td valign="top" align="left" style="width: 50%" class="field-value"><strong>{% if item.po_number %}{{ item.po_number }}{% endif %}<strong></td>
              </tr>
            </table>
            <table id="line-items">
              <thead>
                <tr class="border-bottom">
                  <th align="left" class="border-right">{% if item.is_sow %}Start Date{% else %}Date{% endif %}</th>
                  <th align="left" class="border-right">Task</th>
                  <th align="left" class="border-right">Description</th>
                  <th align="right" class="border-right">Quantity</th>
                  <th align="right" class="border-right">Unit Price</th>
                  <th align="right">Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in entries %}
                <tr class="border-bottom">
                  <td valign="top" align="left" class="border-right" style="width: 20%">{{ entry.date|date:'Y-m-d'|default:'' }}</td>
                  <td valign="top" align="left" class="border-right" style="width: 20%">{{ entry.task|default:'' }}</td>
                  <td valign="top" align="left" class="border-right" style="width: 100%">{{ entry.log|linebreaks|default:'' }}</td>
                  <td valign="top" align="right" class="border-right" style="width: 20%">{% if not pdf %}<a href="{% url 'time_view' entry.pk %}" target="_blank">{{ entry.hours|default:'0' }}</a>{% else %}{{ entry.hours }}{% endif %} <a href="{% url 'time_edit' entry.pk %}" target="_blank"><i class="fa fa-cog"></i></a></td>
                  <td valign="top" align="right" class="border-right" style="width: 20%">{{ company_currency_symbol }}{% if entry.task %}{{ entry.task.rate|default:'' }}{% endif %}</td>
                  <td valign="top" align="right" style="width: 20%"><strong>{{ company_currency_symbol }}{{ entry.amount|default:'0' }}</strong></td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan=5>
                    <h1>Total</h1>
                  </td>
                  <td>
                    <h1>{{ company_currency_symbol }}{{ item.amount }}</h1>
                  </td>
                </tr>
              </tbody>
            </table>
