                <div class="row"><div class="offset-md-3 col-md-9"><h3>{{ company.name }} {{ item.task }} Agreement</h3></div></div>
                <div class="row"><div class="offset-md-5 col-md-7"><h3>Prepared for:</h3></div></div>
                <div class="row"><div class="offset-md-4 col-md-4" style="text-align: center"><h3>{{ item.client }}</h3></div></div>
                <div class="row"><div class="col-md-12"><h2>1. Parties</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.parties|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>2. Scope of Work</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.scope_of_work|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>3. Payment Terms</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.payment_terms|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>4. Timing of Payment</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.timing_of_payment|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>5. Contributor Assignment Agreement</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.contributor_assignment_agreement|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>6. Authority to Act</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.authority_to_act|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>7. Termination</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.termination|safe }} </div></div>
                <div class="row"><div class="col-md-12"><h2>8. Governing Laws</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.governing_laws|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>9. Period of Agreement</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.period_of_agreement|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>10. Confidentiality</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.confidentiality|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>11. Taxes</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.taxes|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>12. Limited Warranty</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.limited_warranty|safe }}</div></div>
                <div class="row"><div class="col-md-12"><h2>13. Complete Agreement</h2></div></div>
                <div class="row"><div class="col-md-12">{{ item.complete_agreement|safe }}</div></div>
