            {{ item.parties|safe }}
            {{ item.scope_of_work|safe }}
            {{ item.payment_terms|safe }}
            {{ item.timing_of_payment|safe }}
            {{ item.contributor_assignment_agreement|safe }}
            {{ item.authority_to_act|safe }}
            {{ item.termination|safe }}
            {{ item.governing_laws|safe }}
            {{ item.period_of_agreement|safe }}
            {{ item.confidentiality|safe }}
            {{ item.taxes|safe }}
            {{ item.limited_warranty|safe }}
            {{ item.complete_agreement|safe }}
