    <script>
        // Initialize pell on an HTMLElement
        pell.init({
          // <HTMLElement>, required
          element: document.getElementById('pell-editor'),

          // <Function>, required
          // Use the output html, triggered by element's `oninput` event
          onChange: html => console.log(html),

          // <boolean>, optional, default = false
          // Outputs <span style="font-weight: bold;"></span> instead of <b></b>
          styleWithCSS: false,

          // <Array[string | Object]>, string if overwriting, object if customizing/creating
          // action.name<string> (only required if overwriting)
          // action.icon<string> (optional if overwriting, required if custom action)
          // action.title<string> (optional)
          // action.result<Function> (required)
          // Specify the actions you specifically want (in order)
          actions: [
            'bold',
            {
              name: 'custom',
              icon: 'C',
              title: 'Custom Action',
              result: () => console.log('YOLO')
            },
            'underline'
          ],

          // classes<Array[string]> (optional)
          // Choose your custom class names
          classes: {
            actionbar: 'pell-actionbar',
            button: 'pell-button',
            content: 'pell-content'
          }
        })

        // Execute a document command, see reference:
        // https://developer.mozilla.org/en/docs/Web/API/Document/execCommand
        // this is just `document.execCommand(command, false, value)`
        pell.exec(command<string>, value<string>)
    </script>
