{% extends 'base.html' %}

{% block content %}

                  <div class="col-md-6">
                    <h3>Project<a class="btn btn-default pull-right" href="{% url 'project_edit' pk=project.pk %}">Edit Project</a></h3>
                    <hr>
                    <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                      <thead>
                        <tr>
                          <th data-field="id" data-sortable="true">Id</th>
                          <th>Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>{{ project.pk }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.start_date|default:'' }}</td>
                            <td>{{ project.end_date|default:'' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h3>Time<a class="btn btn-default pull-right" href="{% url 'entry_edit' %}?project={{ project.pk }}">Add Time</a></h3>
                    <hr>
                    <table data-toggle="table">
                      <thead>
                        <tr>
                          <th data-field="id" data-sort-name="hidden-id" data-sortable="true">Id</th>
                          <th data-field="hidden-id" data-sortable="true" data-visible="false">Hidden Id</th>
                          <th data-sortable="true">Date</th>
                          <th data-sortable="true">Hours</th>
                          <th data-sortable="true">Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for entry in times %}
                        <tr>
                            <td><a href="{% url 'entry' entry.pk %}">{{ entry.pk }}</a></td>
                            <td>{{ entry.pk }}</td>
                            <td>{{ entry.date }}</td>
                            <td>{{ entry.hours }}</td>
                            <td>{{ entry.notes }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

{% endblock %}
