{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li class="active"><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            <li><a href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="col-md-4">
                <h3>Project<a class="btn btn-default pull-right" href="{% url 'project_edit' pk=project.pk %}">Edit Project</a></h3>
                <hr>
                <h4>{{ project.name }}</h4>
                <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th>Client</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Budget</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        {% if project.client %}
                          <td><a href="{% url 'client' project.client.pk %}">{{ project.client|default:'' }}</a></td>
                        {% else %}
                          <td>{{ project.client|default:'' }}</td>
                        {% endif %}
                        <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                        <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                        <td>{{ project.budget|default:'' }}</td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                <h5>Invoices</h5>
                <ul>
                {% for invoice in invoices %}
                    <li><a href="{% url 'invoice' invoice.pk %}">{{ invoice }}</a></li>
                {% endfor %}
                </ul>
                <hr>
                <h5>Notes</h5>
                {% if project.notes %}
                <div class="notes">{{ project.notes|linebreaks|default:'' }}</div>
                {% endif %}
              </div>
              <div class="col-md-8">
                <h3>Time<a class="btn btn-default pull-right" href="{% url 'entry_edit' %}?project={{ project.pk }}">Add Time</a></h3>
                <hr>
                <table data-toggle="table">
                  <thead>
                    <tr>
                      <th data-sortable="true">Date</th>
                      <th data-sortable="true">Hours</th>
                      <th data-sortable="true">Notes</th>
                      <th>View</th>
                      <th>Edit</th>
                      <th>Copy</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entry in times %}
                    <tr>
                        <td>{{ entry.date|date:'Y-m-d' }}</td>
                        <td>{{ entry.hours }}</td>
                        <td>{{ entry.notes }}</td>
                        <td><a href="{% url 'entry' entry.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                        <td><a href="{% url 'entry_edit' entry.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                        <td><form action="{% url 'entry_edit' entry.pk %}" method="post">{% csrf_token %}<button class="btn btn-success" name="copy" type="submit" value="+" onChange="this.form.submit()"><i class="fa fa-plus"></i></button></form></td>
                        <td><form action="{% url 'entry_edit' entry.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
{% endblock %}
