{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="active"><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-1">
                  <h3>Projects</h3>
                </div>
                <div class="col-md-3">
                  <h3><span class="col-md-3"><a href="?active=true"><i class="fa fa-heart-o"></i></a></span></h3>
                </div>
                <div class="col-md-4">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-4">
                  <h3><a class="btn btn-default pull-right" href="{% url 'project_edit' %}">Add Project</a></h3>
                </div>
              </div>
              <hr>
              {% include 'pagination.html' %}
              <table data-toggle="table" data-sort-name="active" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-sortable="true">Name</th>
                    <th data-field="client" data-sort-name="hidden-client" data-sortable="true">Client</th>
                    <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                    <th data-sortable="true">Task</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for project in items %}
                  <tr>
                    <td><form action="{% url 'project_edit' project.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"> <input type="checkbox" value="on" name="checkbox" {% if project.active %} checked {% endif %} onChange="this.form.submit()"> </form></td>
                    <td>{{ project.active }}</td>
                    <td>{{ project.name }}</td>
                    {% if project.client.pk %}
                      <td><a href="{% url 'client' project.client.pk %}">{{ project.client }}</a></td>
                      <td>{{ project.client }}</td>
                    {% else %}
                      <td></td>
                      <td></td>
                    {% endif %}
                    {% if project.task %}
                      <td><a href="{% url 'task' project.task.pk %}">{{ project.task.name }}</a></td>
                    {% else %}
                      <td>{{ task.name }}</td>
                    {% endif %}
                    <td><a href="{% url 'project' project.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'project_edit' project.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                    <td><form action="{% url 'project_edit' project.pk %}" method="post">{% csrf_token %}<input type="submit" value="X" name="delete" onChange="this.form.submit()"></form></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <hr>
              {% include 'pagination.html' %}
{% endblock %}
