              <div class="table-responsive">
                <table class="table table-striped" data-toggle="table" data-row-style="rowStyle">
                  <thead>
                    <tr>
                      <th data-cell-style="cellStyle" data-sortable="true">Burn Rate</th>
                      <th data-cell-style="cellStyle" data-sortable="true" data-visible="{{ data_visible }}">Task</th>
                      <th data-cell-style="cellStyle" data-sortable="true" data-visible="{{ data_visible }}">Budget</th>
                      <th data-cell-style="cellStyle" data-field="start-date" data-sort-name="hidden-start-date" data-sortable="true" data-visible="{{ data_visible }}">Start Date</th>
                      <th data-cell-style="cellStyle" data-field="hidden-start-date" data-sortable="true" data-visible="false">Hidden Start Date</th>
                      <th data-cell-style="cellStyle" data-field="end-date" data-sort-name="hidden-end-date" data-sortable="true" data-visible="{{ data_visible }}">End Date</th>
                      <th data-cell-style="cellStyle" data-field="hidden-end-date" data-sortable="true" data-visible="false">Hidden End Date</th>
                      <th data-cell-style="cellStyle" data-field="client" data-sort-name="hidden-client" data-sortable="true" data-visible="{{ data_visible }}">Client</th>
                      <th data-cell-style="cellStyle" data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                      <th data-cell-style="cellStyle" data-sortable="true">Name</th>
                      <th data-cell-style="cellStyle">Edit</th>
                      <th data-cell-style="cellStyle">Add Time</th>
                      <th data-cell-style="cellStyle" data-visible="{{ data_visible }}">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for project in items %}
                    <script>
                      function cellStyle(value, row, index, field) {
                        return {
                          css: {"background": "{{ project.background }}" }
                        };
                      }
                    </script>
                    <tr> 
                      <td>{{ project.daily_burn }}</td>
                      {% if project.task %}<td><a href="{% url 'task' project.task.pk %}">{{ project.task.name }}</a></td>{% else %}<td>{{ task.name }}</td>{% endif %}
                      <td>{{ project.budget|floatformat }}</td>
                      <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                      <td>{{ project.start_date|date:'U'|default:'' }}</td>
                      <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                      <td>{{ project.end_date|date:'U'|default:'' }}</td>
                      {% if project.client.pk %}<td><a href="{% url 'client' project.client.pk %}"><i class="fa fa-building-o fa-3x"></i>&nbsp;{{ project.client }}</a></td>{% else %}<td>{{ project.client|default:'' }}</td>{% endif %}
                      <td>{{ project.client|default:'' }}</td>
                      <td><a href="{% url 'project' project.pk %}"><i class="fa fa-folder-open-o fa-3x"></i>&nbsp;{{ project.name }}</a></td>
                      <td><a href="{% url 'project_edit' project.pk %}"><i class="fa fa-edit fa-3x text-warning"></i></a></td>
                      <td><a href="{% url 'entry_edit' %}?project={{ project.pk }}"><i class="fa fa-plus-circle fa-3x text-success"></i></a></td>
                      <td><form action="{% url 'project_edit' project.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
