{% extends 'base.html' %}

{% load l10n %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-1">
                  <h3>Projects</h3>
                </div>
                <div class="col-md-3">
                  <h3><span class="col-md-3"><a href="?active=true"><i class="fa fa-{% if not active %}square-o{% else %}check-square{% endif %}"></i></a></span></h3>
                </div>
                <div class="col-md-4">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-4">
                  <h3><a class="btn btn-lg btn-success pull-right" href="{% url 'project_edit' %}">Add Project&nbsp;<i class="fa fa-plus"></i></a></h3>
                </div>
              </div>
              {% include 'pagination.html' %}
              {% include 'project_table.html' %}
              {% include 'pagination.html' %}
{% endblock %}
