              <div class="table-responsive">
                <p>
                  <table class="table table-striped" data-toggle="table" data-row-style="rowStyle">
                    <thead>
                      <tr>
                        <th data-field="active" data-sort-name="hidden-active" data-visible="{{ data_visible }}" data-sortable="true">Active</th>
                        <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                        <th data-sortable="true" data-visible="{{ data_visible }}">Burn Rate</th>
                        <th data-field="name" data-sort-name="hidden-name" data-sortable="true">Name</th>
                        <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                        <th data-field="client" data-sort-name="hidden-client" data-sortable="true" data-visible="{{ data_visible }}">Client</th>
                        <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                        <th data-sortable="true" data-visible="{{ data_visible }}">Task</th>
                        <th>Edit</th>
                        <th>Add Time</th>
                        <th data-visible="{{ data_visible }}">Remove</th>
                        <th data-field="hidden-delete" data-sortable="true" data-visible="false">Hidden Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                      <tr> 
                        <td><form action="{% url 'project_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"> <input type="checkbox" value="on" name="checkbox" {% if item.active %} checked {% endif %} onChange="this.form.submit()"> </form></td>
                        <td>{{ item.active }}</td>
                        <td>{{ item.daily_burn }}</td>
                        <td data-toggle="tooltip" title="Burn Rate: {{ item.daily_burn }}"><a href="{% url 'project' item.pk %}"><i class="fa fa-folder-open fa-3x"></i>&nbsp;{{ item.name }}</a></td>
                        <td>{{ item.name|default:'' }}</td>
                        {% if item.client.pk %}<td><a href="{% url 'client' item.client.pk %}"><i class="fa fa-building fa-3x"></i>&nbsp;{{ item.client }}</a></td>{% else %}<td>{{ item.client|default:'' }}</td>{% endif %}
                        <td>{{ item.client|default:'' }}</td>
                        {% if item.task %}<td><a href="{% url 'task' item.task.pk %}">{{ item.task.name }}</a></td>{% else %}<td>{{ task.name }}</td>{% endif %}
                        <td><a href="{% url 'project_edit' item.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>

                        <td><a href="{% url 'entry_edit' %}?project={{ item.pk }}"><i class="fa fa-plus-circle fa-3x"></i></a></td>
                        <td>
                          {% include 'delete_form.html' %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </p>
              </div>
