{% extends 'base.html' %}
{% load l10n %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;"><a class="mute-url" href="{% url 'project_index' %}">Projects</a> &raquo; Project</h1>
            </div>
            <div class="col-md-3">
              <div class="dropdown pull-right">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'estimate_edit' %}?project={{ item.pk }}"><i class="fa fa-plus-circle"></i> Add Estimate</a></li>
                  <li><a class="dropdown-item" href="{% url 'invoice_edit' %}?project={{ item.pk }}"><i class="fa fa-plus-circle"></i> Add Invoice</a></li>
                  <li><a class="dropdown-item" href="{% url 'time_edit' %}?project={{ item.pk }}"><i class="fa fa-clock-o"></i> Add Time</a></li>
                  <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-copy-modal-sm"><i class="fa fa-plus-circle"></i> Copy</a></li>

                  <li><a class="dropdown-item" href="{% url 'project_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                  <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-sort-name="hidden-color" data-classes="table table-no-bordered table-hover">
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" {% if active %}data-visible="false"{% endif %} data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-field="name" data-sort-name="hidden-name" data-sortable="true">Name</th>
                    <th data-field="hidden-color" data-sortable="true" data-visible="false">Hidden Color</th>
                    <th data-field="client" data-sort-name="hidden-client" data-sortable="true" data-visible="true">Client</th>
                    <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                    <th data-sortable="true" data-visible="true">Task</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-{{ item.task.color }}"> 
                    <td><form action="{% url 'project_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"> <input type="checkbox" value="on" name="checkbox-active" {% if item.active %} checked {% endif %} onChange="this.form.submit()"> </form></td>
                    <td>{{ item.active }}</td>
                    <td>{{ item.name|default:'' }}</td>
                    <td>{{ item.task.color|default:'' }}</td>
                    {% if item.client.pk %}<td><a href="{% url 'client_view' item.client.pk %}">{{ item.client }}</a></td>{% else %}<td>{{ item.client|default:'' }}</td>{% endif %}
                    <td>{{ item.client|default:'' }}</td>
                    {% if item.task %}<td><a href="{% url 'task_view' item.task.pk %}">{{ item.task.name }}</a></td>{% else %}<td>{{ task.name }}</td>{% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
          <!------------------------------------------------------------------------------------>
          {% if item.notes %}
          <div class="card note">
            <div class="card-block">
              <h2 class="card-title">Notes</h2>
              <p class="card-text">{{ item.notes|linebreaks|default:'' }}</p>
            </div>
          </div>
          {% endif %}
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-md-12">
              <h2>Invoices</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-classes="table table-no-bordered">
                <thead>
                  <tr>
                    <th data-sort-name="hidden-subject" data-sortable="true">Name</th>
                    <th data-field="hidden-subject" data-sortable="true" data-visible="false">Hidden Subject</th>
                    <th data-field="issued" data-sortable="true">Issue Date</th>
                    <th data-field="amount" data-sort-name="hidden-amount" data-sortable="true">Amount Due</th>
                    <th data-field="hidden-amount" data-sortable="true" data-visible="false">Hidden Amount</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                 {% for invoice in items.invoices %}
                  <tr>
                    <td><a href="{% url 'invoice_view' invoice.pk %}">{{ invoice.subject|default:'' }}</a></td>
                    <td>{{ invoice.subject|default:'' }}</td>
                    <td>{{ invoice.issue_date|default:'' }}</td>
                    <td>{% if invoice.amount %}{{ company.currency_symbol }}{% endif %}{{ invoice.amount|default:'' }}</td>
                    <td>{{ invoice.amount|unlocalize|default:'' }}</td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'invoice_view' invoice.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'invoice_edit' invoice.pk %}"><i class="fa fa-cog fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-md-12">
              <h2><a class="mute-url" href="{% url 'user_index' %}">Team</a></h2>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-12">
{% include 'table_users.html' %}
            </div>
          </div> 
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-md-12">
              <h2><a class="mute-url" href="{% url 'time_index' %}">Times</a></h2>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-12">
{% include 'table_times.html' %}
            </div>
          </div> 
          <!------------------------------------------------------------------------------------>
          <div class="row">
            <div class="col-md-12">
              <h2>Estimates</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-classes="table table-no-bordered">
                <thead>
                  <tr>
                    <th data-sort-name="hidden-subject" data-sortable="true">Name</th>
                    <th data-field="hidden-subject" data-sortable="true" data-visible="false">Hidden Subject</th>
                    <th data-field="issued" data-sortable="true">Issue Date</th>
                    <th data-field="amount" data-sort-name="hidden-amount" data-sortable="true">Amount Due</th>
                    <th data-field="hidden-amount" data-sortable="true" data-visible="false">Hidden Amount</th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                 {% for estimate in items.estimates %}
                  <tr>
                    <td><a href="{% url 'estimate_view' estimate.pk %}">{{ estimate.subject|default:'' }}</a></td>
                    <td>{{ estimate.subject|default:'' }}</td>
                    <td>{{ estimate.issue_date|default:'' }}</td>
                    <td>{% if estimate.amount %}{{ company.currency_symbol }}{% endif %}{{ estimate.amount|default:'' }}</td>
                    <td>{{ estimate.amount|unlocalize|default:'' }}</td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'estimate_view' estimate.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'estimate_edit' estimate.pk %}"><i class="fa fa-cog fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
{% endblock %}
