              <table data-toggle="table">
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" data-visible="{{ active_column }}" data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-sortable="true">Name</th>
                    <th data-sortable="true">Budget</th>
                    <th data-field="start-date" data-sort-name="hidden-start-date" data-sortable="true">Start Date</th>
                    <th data-field="hidden-start-date" data-sortable="true" data-visible="false">Hidden Start Date</th>
                    <th data-field="end-date" data-sort-name="hidden-end-date" data-sortable="true">End Date</th>
                    <th data-field="hidden-end-date" data-sortable="true" data-visible="false">Hidden End Date</th>
                    <th data-field="client" data-sort-name="hidden-client" data-sortable="true">Client</th>
                    <th data-field="hidden-client" data-sortable="true" data-visible="false">Hidden Client</th>
                    <th data-sortable="true">Task</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Add Time</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for project in items %}
                  <tr {% if forloop.counter|divisibleby:2 %}style="background:lightgray"{% endif %}>
                    <td data-visible="{{ active_column }}"><form action="{% url 'project_edit' project.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"> <input type="checkbox" value="on" name="checkbox" {% if project.active %} checked {% endif %} onChange="this.form.submit()"> </form></td>
                    <td>{{ project.active }}</td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.budget|floatformat }}</td>
                    <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                    <td>{{ project.start_date|date:'U'|default:'' }}</td>
                    <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                    <td>{{ project.end_date|date:'U'|default:'' }}</td>
                    {% if project.client.pk %}<td><a href="{% url 'client' project.client.pk %}">{{ project.client }}</a></td>{% else %}<td>{{ project.client }}</td>{% endif %}
                    <td>{{ project.client }}</td>
                    {% if project.task %}<td><a href="{% url 'task' project.task.pk %}">{{ project.task.name }}</a></td>{% else %}<td>{{ task.name }}</td>{% endif %}
                    <td><a href="{% url 'project' project.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'project_edit' project.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                    <td><a href="{% url 'entry_edit' %}?project={{ project.pk }}"><i class="fa fa-plus-circle fa-3x"></i></a></td>
                    <td><form action="{% url 'project_edit' project.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>

                  </tr>
                {% endfor %}
                </tbody>
              </table>
