{% extends 'base.html' %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-9">
                    <h1>{{ project.name }}</h1>
                  </div>
                  <div class="col-md-3">
                    <p><a class="btn btn-lg btn-success" href="{% url 'project_edit' pk=project.pk %}">Edit</a></p>
                  </div>
                </div>
                <p>
                  <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                    <thead>
                      <tr>
                        <th>Client</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          {% if project.client %}
                            <td><a href="{% url 'client' project.client.pk %}">{{ project.client|default:'' }}</a></td>
                          {% else %}
                            <td>{{ project.client|default:'' }}</td>
                          {% endif %}
                          <td>{{ project.start_date|date:'Y-m-d'|default:'' }}</td>
                          <td>{{ project.end_date|date:'Y-m-d'|default:'' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <p>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Budget</th>
                        <th>Burn Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ project.budget|default:'' }}</td>
                        <td>{{ project.daily_burn|default:'' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </p>
                <h2>Notes</h2>
                {% if project.notes %}
                <div class="notes">
                  <p>{{ project.notes|linebreaks|default:'' }}</p>
                </div>
                {% endif %}
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-9">
                    <h2>Times</h2>
                  </div>
                  <div class="col-md-3">
                    <p><a class="btn btn-secondary" href="{% url 'entry_edit' %}?project={{ project.pk }}">Add</a></p>
                  </div>
                </div>
                {% include 'time_table.html' %}
                <div class="row">
                  <div class="col-md-9">
                    <h2>Invoices</h2>
                  </div>
                  <div class="col-md-3">
                    <p><a class="btn btn-secondary" href="{% url 'invoice_edit' %}?project={{ project.pk }}">Add</a></p>
                  </div>
                </div>
                <p>
                  <ul id="project-invoices">
                  {% for invoice in invoices %}
                    <li><a href="{% url 'invoice' invoice.pk %}">Invoice&nbsp;&#35;{{ invoice.document_id|default:''}}</a></li>
                  {% endfor %}
                  </ul>
                </p>
              </div>
{% endblock %}
