{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Proposals</h1>
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><a class="btn btn-block btn-lg btn-success" href="{% url 'proposal_edit' %}">Add Proposal <i class="fa fa-plus"></i></a></div>
            </div>
          </div>
{% with items=items.proposals %}
{% include 'pagination.html' %}
{% endwith %}
          <table data-toggle="table" data-classes="table table-no-bordered">
            <thead>
              <tr>
                <th data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th> 
                <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                <th>Title</th>
                <th>View</th>
                <th>Edit</th> 
              </tr>
            </thead>
            <tbody>
            {% for item in items.proposals %}
              <tr>
                <td><form action="{% url 'proposal_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                <td>{{ item.active }}</td>
                <td>{{ item.title }}</td>
                <td><a href="{% url 'proposal' item.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }} {{ icon_color }} style="vertical-align: middle""></i> View</a></td>
                <td><a href="{% url edit_url item.pk %}"><i class="fa fa-cog fa-{{ icon_size }} {{ icon_color }} style="vertical-align: middle""></i> Edit</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
{% with items=items.proposals %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
