{% extends 'base.html' %}
{% block content %}
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <h1 style="border-bottom: none">{{ doc_type|title }}</h1>
                  </div>
                  <div class="col-md-4">
{% include 'info.html' %}
                  </div>
                  <div class="col-md-3 ml-auto mb-3">
                    <div class="dropdown">
                      <button class="btn btn-block btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                      <ul class="dropdown-menu">
{% include 'actions.html' %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
{% include 'copy_form.html' %}
{% include 'delete_form.html' %}
{% include 'pdf_proposal.html' %}
{% endblock %}
