{% load l10n %}
              <div class="navbar" style="border: 1px solid #ebebeb; margin-bottom: 1em">
                <div class="col-md-12" style="text-align: center;">
                  <img class="rounded" style="width: 50%" src="{% url 'plot' %}?plot=1&values={% for item in plot_items %}{{ item.net|unlocalize }},{{ item.date|unlocalize }}{% if not forloop.last %}+{% endif %}{% endfor %}" data-toggle="modal" data-target="#myModal">
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h1 class="modal-title">Graph</h1>
                    </div>
                    <div class="modal-body">
                        <img style="width: 100%" class="rounded" src="{% url 'plot' %}?plot=1&values={% for item in plot_items %}{{ item.net|unlocalize }},{{ item.date|unlocalize }}{% if not forloop.last %}+{% endif %}{% endfor %}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
