{% extends 'base.html' %}

{% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="active"><a href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h3>Report</h3>
                </div>
                <div class="col-md-2">
                  <h3>
                    <div class="dropdown pull-right">
                      <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'report_edit' pk=report.pk %}"><i class="fa fa-edit fa-2x"></i>&nbsp;Edit Report</a></li>
                      </ul>
                    </div>
                  </h3>
                </div>
              </div>
              <hr>
              <table data-toggle="table" data-sort-name="id" data-sort-order="desc">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Gross</th>
                    <th>Net</th>
                    <th>Diff</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ report.name }}</td>
                  <td>{{ report.date }}</td>
                  <td>{{ report.gross }}</td>
                  <td>{{ report.net }}</td>
                  <td>{{ diff }}</td>
                </tr>
                </tbody>
              </table>
              <h5>Notes</h5>
              {% if report.notes %}
              <div class="notes">{{ report.notes|linebreaks|default:'' }}</div>
              {% endif %}
{% endblock %}
