{% extends 'base.html' %}
{% load l10n %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Reports</h1>
            </div>
            <div class="col-md-3">
              <a class="btn btn-block btn-lg btn-success" href="{% url 'report_edit' %}">Add Report</a>
            </div>
          </div>
{% with items=items.reports %}
{% include 'pagination.html' %}
{% endwith %}
          <div class="row">
            <div class="col-md-12">
              <table data-toggle="table" data-sort-name="hidden-date" data-sort-order="desc" data-classes="table table-no-bordered table-hover">
                <thead>
                  <tr>
                    <th data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %}>Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-field="name" data-sort-name="hidden-name" data-sortable="true">Name</th>
                    <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                    <th data-field="date" data-sort-name="hidden-date" data-sortable="true">Date</th>
                    <th data-field="hidden-date" data-sortable="true" data-visible="false">Hidden Date</th>

                    <th data-field="cost" data-sort-name="hidden-cost" data-sortable="true">Cost</th>
                    <th data-field="hidden-cost" data-sortable="true" data-visible="false">Hidden Cost</th>

                    <th data-field="gross" data-sort-name="hidden-gross" data-sortable="true">Gross</th>
                    <th data-field="hidden-gross" data-sortable="true" data-visible="false">Hidden Gross</th>

                    <th data-field="net" data-sort-name="hidden-net" data-sortable="true">Net</th>
                    <th data-field="hidden-net" data-sortable="true" data-visible="false">Hidden Net</th>

                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in items.reports %}
                  <tr>
                    <td><form action="{% url 'report_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active"{% if item.active %} checked {% endif %} onChange="this.form.submit()"></form></td>      
                    <td>{{ item.active }}</td>
                    <td><a href="{% url 'report_view' item.pk %}">{{ item.name|default:'' }}</a></td>
                    <td>{{ item.name|default:'' }}</td>
                    <td>{{ item.date|date:'Y-m-d'|default:'' }}</td>
                    <td>{{ item.date|date:'U'|default:'' }}</td>
                    <td>{{ item.cost }}</td>
                    <td>{{ item.cost|unlocalize }}</td>
                    <td>{{ item.gross }}</td>
                    <td>{{ item.gross|unlocalize }}</td>
                    <td>{{ item.net }}</td>
                    <td>{{ item.net|unlocalize }}</td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'report_view' item.pk %}"><i class="fa fa-external-link fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                    <td><a class="text-{{ icon_color }}" href="{% url 'report_edit' item.pk %}"><i class="fa fa-edit fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
{% with items=items.reports %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock content %}
