{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-9">
                  <h1 style="border-bottom: none;"><a class="mute-url" href="{% url 'report_index' %}">Reports</a> &raquo; Report</h1>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="dropdown">
                    <button class="btn btn-block btn-lg btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'report_edit' pk=item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="{% url 'report_view' pk=item.pk %}?pdf=true" target="_blank"><i class="fa fa-file-pdf-o"></i> Export PDF</a></li>
                      <li><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-delete-modal-sm"><i class="fa fa-times-circle-o"></i> Remove</a></li>
                    </ul>
                  </div>
                </div>
              </div>
{% include 'delete_form.html' %}
{% with cost=item.cost gross=item.gross net=item.net %}
{% include 'table_totals.html' %}
{% endwith %}
{% with items=items.invoices %}
{% include 'table_invoices.html' %}
{% endwith %}
{% endblock %}
