{% extends 'base.html' %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-6">
                  <h1>Reports</h1>
                </div>
                <div class="col-md-6">
                  <a class="btn btn-lg btn-success pull-right" href="{% url 'report_edit' %}">Add Report&nbsp;<i class="fa fa-plus"></i></a>
                </div>
              </div>
              {% include 'report_table.html' %}
              <table data-toggle="table" data-sort-name="hidden-date" data-sort-order="desc" data-row-style="rowStyle">
                <thead>
                  <tr>
                    <th data-field="name" data-sort-name="hidden-name" data-sortable="true">Name</th>
                    <th data-field="hidden-name" data-sortable="true" data-visible="false">Hidden Name</th>
                    <th data-field="date" data-sort-name="hidden-date" data-sortable="true">Date</th>
                    <th data-field="hidden-date" data-sortable="true" data-visible="false">Hidden Date</th>
                    <th data-field="gross" data-sortable="true">Gross</th>
                    <th data-field="net" data-sortable="true">Net</th>
                    <th data-field="diff" data-sortable="true">Contractor</th>
                    <th>Edit</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in items %}
                  <tr>
                    <td><a href="{% url 'report' item.pk %}">{{ item.name }}</a></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.date|date:'Y-m-d'|default:'' }}</td>
                    <td>{{ item.date|date:'U'|default:'' }}</td>
                    <td>{{ item.gross }}</td>
                    <td>{{ item.net }}</td>
                    <td>{{ item.diff }}</td>
                    <td><a href="{% url 'report_edit' item.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>
                    <td>
                      {% include 'delete_form.html' %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% include 'report_table.html' %}
{% endblock content %}
