              <h2>Totals</h2>
              <table class="table table-sm" data-toggle="table"> 
                <thead>
                  <tr>
                    <th data-field="gross" data-sortable="true">Gross</th>
                    <th data-field="net" data-sortable="true">Net</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-toggle="tooltip" title="Contractor: {{ diff }}" class="currency"><h4>{{ company.currency_symbol }}{{ agg.gross }}</h4></td>
                    <td data-toggle="tooltip" title="Contractor: {{ diff }}" class="currency"><h4>{{ company.currency_symbol }}{{ agg.net }}</h4></td>
                  </tr>
                </tbody>
              </table>
