{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h1>Settings</h1>
                </div>
                <div class="col-md-2 offset-md-6">
                  <a class="btn btn-lg btn-block btn-success" href="{% url 'settings_edit' %}">Edit <i class="fa fa-cog"></i></a>
                </div>
              </div>
              <!-- Table header on left side in Bootstrap? -->
              <!-- https://stackoverflow.com/a/28612922/185820 -->
              <table class="table">
                  <tbody>
                      <tr>
                        <th>Icon Size</th>
                        <td>{{ settings.icon_size|default:'' }}</td>
                      </tr>
                      <tr>
                        <th>First Name</th>
                        <td>John</td>
                      </tr>
                      <tr>
                        <th>Last Name</th>
                        <td>Carter</td>
                      </tr>
                    <tr>
                        <th>Email</th>
                          <td>johncarter@mail.com</td>
                      </tr>
                  </tbody>
              </table>
{% endblock %}
