              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link {% if active_tab == 'company' %}active{% endif %}" href="{% url 'settings_company' %}">Company</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if active_tab == 'contract' %}active{% endif %}" href="{% url 'settings_contract' %}">Contract</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if active_tab == 'system' %}active{% endif %}" href="{% url 'settings_app' %} ">App</a>
                </li>
              </ul>
