{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h1>Settings</h1>
                </div>
                <div class="col-md-2 offset-md-6">
                  <a class="btn btn-lg btn-block btn-success" href="{% url 'settings_app_edit' %}">Edit <i class="fa fa-cog"></i></a>
                </div>
              </div>
{% include 'settings-nav.html' %}
              <div class="row">
                <div class="col-md-12">
                  <!-- Table header on left side in Bootstrap -->
                  <!-- https://stackoverflow.com/a/28612922/185820 -->
                  <table class="table">
                    <tbody>
                      <tr>
                        <th><h2>Name</h2></th>
                        <th><h2>Value</h2></th>
                      </tr>
                      <tr>
                        <th>Icon Size</th>
                        <td>{{ settings.icon_size|default:'' }}</td>
                      </tr>
                      <tr>
                        <th>Page Size</th>
                        <td>{{ settings.page_size|default:'' }}</td>
                      </tr>
                      <tr>
                        <th>Dashboard choices</th>
                        <td>{{ settings.dashboard_choices|default:'' }}</td>
                      </tr>
                      <tr>
                        <th>Tags</th>
                        <td>{{ settings.tags|default:'' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
{% endblock %}
