              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link {% if active_nav == 'Settings App' %}active{% endif %}" href="{% url 'settings_app' %} ">App</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if active_nav == 'Settings Company' %}active{% endif %}" href="{% url 'settings_company' %}">Company</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if active_nav == 'Settings Contract' %}active{% endif %}" href="{% url 'settings_contract' %}">Contract</a>
                </li>
              </ul>
