        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" style="opacity: 0.9">
          <ul class="nav nav-pills flex-column">
            {% if request.user.is_authenticated %}
            {% if is_staff %}<li class="nav-item {% if active_nav == 'time' %}bg-success px-1 {% endif %}"><a class="nav-link text-dark" href="{% url 'time_index' %}">Times</a></li>{% endif %}
            {% if is_staff %}<li class="nav-item {% if active_nav == 'invoice' %}bg-success px-1 {% endif %}"><a class="nav-link text-dark" href="{% url 'invoice_index' %}">Invoices</a></li>{% endif %}
            {% if is_staff %}<li class="nav-item {% if active_nav == 'project' %}bg-success px-1 {% endif %}"><a class="nav-link text-dark" href="{% url 'project_index' %}">Projects</a></li>{% endif %}
            {% if is_staff %}<li class="nav-item {% if active_nav == 'estimate' %}bg-success px-1 {% endif %}"><a class="nav-link text-dark" href="{% url 'estimate_index' %}">Estimates</a></li>{% endif %}
            {% endif %}
          </ul>
        </nav>
