                <table class="table">
                  <thead>
                    <th>Cost</th>
                    <th>Gross</th>
                    <th>Net</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ company_currency_symbol }}{{ cost|default:'0.00' }}</td>
                      <td>{{ company_currency_symbol }}{{ gross|default:'0.00' }}</td>
                      <td>{{ company_currency_symbol }}{{ net|default:'0.00' }}</td>
                    </tr>
                  </tbody>
                </table>
