          <table data-toggle="table" data-classes="table table-no-bordered table-hover">
            <thead>
              <tr>
                <th data-field="active" data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %} >Active</th>
                <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                <th data-field="hidden-id" data-sortable="true" data-visible="false">Hidden Id</th>
                <th data-field="fullname" data-sortable="true">Full Name</th>
                <th data-field="email-address" data-sortable="true">Email</th>
                <th data-field="username" data-sortable="true">Username</th>
                <th>View</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
            {% for item in items.users %}
              <tr>
                <td>{% if item.profile %}<form action="{% url 'user_edit' item.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox-active"><input type="checkbox" value="on" name="checkbox-active" {% if item.profile.active %} checked {% endif %} onChange="this.form.submit()"></form>{% endif %}</td>
                <td>{{ item.profile.active }}</td>
                <td>{{ item.pk }}</td>
                <td>{{ item.get_full_name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.profile.get_username }}</td>
                <td><a class="text-{{ icon_color }}" href="{% url 'user_view' item.pk %}"><i class="fa fa-external-link fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                <td>{% if item.profile %}<a class="text-{{ icon_color }}" href="{% url 'user_edit' item.pk %}"><i class="fa fa-edit fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a>{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
