          <table data-toggle="table">
            <thead>
              <th data-sortable="true">Field</th>
              <th data-sortable="true">Value</th>
            </thead>
            <tbody>
            {% for item in items %}
              {% for key, value in item.fields.items %}
                {% if key in include_fields %}
              <tr><td valign="top"><strong>{{ key|title }}</strong></td><td>{{ value|default:''|safe }} </td></tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
