          <table data-toggle="table" data-classes="table table-no-bordered table-hover">
            <thead>
              <tr>
                {% if is_staff %}<th data-field="invoiced" data-sortable="true" data-visible="{{ columns_visible.time.invoiced }}">Invoiced</th>{% endif %}
                <th data-field="date" data-sort-name="hidden-date" data-sortable="true">Date</th>
                <th data-field="hidden-date" data-sortable="true" data-visible="false">Hidden Date</th>
                <th data-field="hours" data-sortable="true">Hours</th>
                <th data-field="notes" data-sortable="true" data-visible="{{ columns_visible.time.log }}">Log</th>
                {% if is_staff %}
                <th data-field="client" data-sortable="true" data-visible="true">Client</th>
                <th data-field="project" data-sort-name="hidden-project" data-sortable="true" data-visible="true">Project</th>
                <th data-field="hidden-project" data-sortable="true" data-visible="false">Hidden Project</th>
                <th data-field="task" data-sortable="true" data-visible="true">Task</th>
                <th data-field="invoice" data-sortable="true" data-visible="{{ columns_visible.time.invoice }}">Invoice</th>
                <th data-field="estimate" data-sortable="true" data-visible="false">Estimate</th>
                {% endif %}
                <th data-field="user" data-sortable="true" data-visible="true">User</th>
                <th>View</th>
                <th>Edit</th> 
              </tr>
            </thead>
            <tbody>
            {% for item in items.times %}
              <tr>
                {% if is_staff %}<td>{% if item.invoiced %}<i class="fa fa-check"></i>{% endif %}</td>{% endif %}
                <td>{{ item.date|date:'Y-m-d'|default:'' }}</td>
                <td>{{ item.date|date:'U' }}</td>
                <td>{{ item.hours|default:'' }}</td>
                <td>{{ item.log|linebreaks }}</td>
                {% if is_staff %}
                <td>{{ item.client|default:'' }}</td>
                {% if item.project %}<td><a href="{% url 'project_view' item.project.pk %}">{{ item.project|default:'' }}</a></td>{% else %}<td></td>{% endif %}
                <td>{{ item.project|default:'' }}</td>
                <td>{{ item.task|default:'' }}</td>
                {% if item.invoice %}<td><a href="{% url 'invoice_view' item.invoice.pk %}">{{ item.invoice.pk }}</a></td>{% else %}<td></td>{% endif %}
                {% if item.estimate %}<td><a href="{% url 'estimate_view' item.estimate.pk %}">{{ item.estimate.pk }}</a></td>{% else %}<td>{{ item.estimate|default:'' }}</td>{% endif %}
                {% endif %}
                {% if item.user %}<td><a class="text-dark" href="{% url 'user_view' item.user.pk %}">{{ item.user|default:'' }}</a></td>{% else %}<td>{{ item.user|default:'' }}</td>{% endif %}
                <td><a class="text-{{ icon_color }}" href="{% url 'time_view' item.pk %}"><i class="fa fa-external-link fa-{{ icon_size }}" style="vertical-align: middle"></i> View</a></td>
                <td><a class="text-{{ icon_color }}" href="{% url 'time_edit' item.pk %}"><i class="fa fa-edit fa-{{ icon_size }}" style="vertical-align: middle"></i> Edit</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
