{% extends 'base.html' %}

{% block sidebar %}
            {% if request.user.is_staff %}{% if not active %}<li class="nav-item"><a class="nav-link" href="?active=true">Active <i class="fa fa-square-o"></i></a></li>{% else %}<li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Active <i class="fa fa-check-square"></i></a></li>{% endif %}{% endif %}
{% endblock %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-4">
                  <h3>Tasks</h3>
                </div>
                <div class="col-md-4">
                  {% include 'search.html' %}
                </div>
                <div class="col-md-4">
                  <h3><a class="btn btn-lg btn-success pull-right" href="{% url 'task_edit' %}">Add Task&nbsp;<i class="fa fa-plus"></i></a></h3>
                </div>
              </div>
              {% include 'pagination.html' %}
              <table data-toggle="table" data-row-style="rowStyle">
                <thead>
                  <tr>
                    <th data-field="active" data-sort-name="hidden-active" data-sortable="true">Active</th>
                    <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="rate" data-sortable="true">Rate</th>
                    <th data-field="unit" data-sortable="true">Unit</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                {% for task in items %}
                  <tr>
                    <td><form action="{% url 'task_edit' task.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox" {% if task.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                    <td>{{ task.active }}</td>
                    <td>{{ task.name|default:'' }}</td>
                    <td>{{ task.rate|default:'' }}</td>
                    <td>{{ task.unit|default:'' }}</td>
                    <td><a href="{% url 'task' task.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                    <td><a href="{% url 'task_edit' task.pk %}"><i class="fa fa-edit fa-3x"></i></a></td>
                    <td><form action="{% url 'task_edit' task.pk %}" method="post">{% csrf_token %}<button class="btn btn-danger" name="delete" type="submit" value="X" onChange="this.form.submit()"><i class="fa fa-remove"></i></button></form></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% include 'pagination.html' %}
{% endblock %}
