{% extends 'base.html' %}

{% block content %}

                <h3>Task<a class="btn btn-default pull-right" href="{% url 'task_edit' pk=task.pk %}">Edit Task</a></h3>
                <hr>
                <table data-toggle="table"> 
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Rate</th>
                      <th>Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ task.id }}</td>
                      <td>{{ task.name }}</td>
                      <td>{{ task.rate }}</td>
                      <td>{{ task.unit|default:'' }}</td>
                    </tr>
                  </tbody>
                </table>

{% endblock %}
