{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li class="active"><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
            {% endblock %}

{% block content %}

                <h3>Tasks<a class="btn btn-default pull-right" href="{% url 'task_edit' %}">Add Task</a></h3>
                <hr>
                <table data-toggle="table" data-sort-name="active" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-sortable="true">#</th>
                      <th data-field="active" data-sort-name="hidden-active" data-sortable="true">Active</th>
                      <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                      <th data-field="id" data-sort-name="hidden-id" data-sortable="true">Id</th>
                      <th data-field="hidden-id" data-sortable="true" data-visible="false">Id</th>
                      <th data-field="name" data-sortable="true">Name</th>
                      <th data-field="rate" data-sortable="true">Rate</th>
                      <th data-field="unit" data-sortable="true">Unit</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for task in tasks %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>
                        <form action="{% url 'task_edit' task.pk %}" method="post"> {% csrf_token %}
                          <!-- http://stackoverflow.com/a/1992745/185820 -->
                          <input type="hidden" value="off" name="checkbox">
                          <input type="checkbox" value="on" name="checkbox"
                            {% if task.active %} checked {% endif %}
                            onChange="this.form.submit()">
                        </form>
                      </td>
                      <td>{{ task.active }}</td>
                      <td><a href="{% url 'task' task.pk %}">{{ task.pk|default:'' }}</a></td>
                      <td>{{ task.pk }}</td>
                      <td>{{ task.name|default:'' }}</td>
                      <td>{{ task.rate|default:'' }}</td>
                      <td>{{ task.unit|default:'' }}</td>
                      <td><a href="{% url 'task_edit' task.pk %}"><i class="fa fa-edit fa-2x"></i></a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>

{% endblock %}
