{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
              <h1 style="border-bottom: none;">Task</h1>
              <div class="alert alert-warning">
                <strong>Enter a valid color string.</strong> Please use "colors" defined by <a href="https://v4-alpha.getbootstrap.com/utilities/colors/" target="_blank">Bootstrap utility classes</a> e.g. 'info'.
              </div>
              <form action="" method="post">{% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-lg btn-success" type="submit" value="Save Task">
              <a class="btn btn-lg btn-secondary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>  <!-- http://stackoverflow.com/a/4406484 -->
              </form>
{% endblock %}
