{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Times</h1>
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><a class="btn btn-block btn-lg btn-success" href="{% url 'time_edit' %}">Add Time <i class="fa fa-plus"></i></a></div>
            </div>
          </div>
{% with items=items.times %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'table_times.html' %}
{% with items=items.times %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
