
            <div class="table-responsive">
              <table data-toggle="table" data-sort-name="hidden-date" data-sort-order="desc" data-row-style="rowStyle">
                <thead>
                  <tr>
                    {% if request.user.is_staff %}
                    <th data-toggle="tooltip" data-placement="right" title="Time invoiced" data-field="invoiced" data-sortable="true" data-visible="{{ data_visible }}">Invoiced</th>
                    {% endif %}
                    <th data-field="date" data-sort-name="hidden-date" data-sortable="true">Date</th>
                    <th data-field="hidden-date" data-sortable="true" data-visible="false">Hidden Date</th>
                    <th data-field="hours" data-sortable="true">Hours</th>
                    <th data-field="client" data-sortable="true" data-visible="{{ data_visible }}">Client</th>
                    <th data-field="project" data-sort-name="hidden-project" data-sortable="true" data-visible="{{ data_visible }}">Project</th>
                    <th data-field="hidden-project" data-sortable="true" data-visible="false">Hidden Project</th>
                    <th data-field="notes" data-sortable="true" data-visible="{{ data_visible }}">Notes</th>
                    <th data-field="user" data-sortable="true" data-visible="{{ data_visible }}">User</th>
                    <th data-field="task" data-sortable="true" data-visible="{{ data_visible }}">Task</th>
                    <th>Edit</th> 
                    <th>Copy</th> 
                    <th data-visible="{{ data_visible }}">Remove</th> 
                    {% if request.user.is_staff %}
                    <th data-field="invoice" data-sortable="true" data-visible="{{ data_visible }}">Invoice</th>
                    <th data-field="estimate" data-sortable="true" data-visible="{{ data_visible }}">Estimate</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% for item in items %}
                  <tr>
                    {% if request.user.is_staff %}
                      <td>{% if item.invoiced %}<i data-toggle="tooltip" data-placement="right" title="Time invoiced" class="fa fa-check"></i>{% endif %}</td>
                    {% endif %}
                    <td><a href="{% url 'entry' item.pk %}">{{ item.date|date:'Y-m-d'|default:'' }}</a></td>
                    <td>{{ item.date|date:'U' }}</td>
                    <td>{{ item.hours|default:'' }}</td>
                    <td>{{ item.client|default:'' }}</td>
                    {% if request.user.is_staff %}{% if item.project %}<td><a href="{% url 'project' item.project.pk %}">{{ item.project|default:'' }}</a></td>{% else %}<td>{{ item.project|default:'' }}</td>{% endif %}{% else %}<td>{{ item.project|default:'' }}</td>{% endif %}
                    <td>{{ item.project|default:'' }}</td>
                    <td>{{ item.notes|linebreaks }}</td>
                    {% if item.user %}<td><a href="{% url 'user' item.user.pk %}">{{ item.user|default:'' }}</a></td>{% else %}<td>{{ item.user|default:'' }}</td>{% endif %}
                    <td>{{ item.task|default:'' }}</td>
                    <td><a href="{% url 'entry_edit' item.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>
                    <td>
{% include 'copy_form.html' %}
                    </td>
                    <td>
{% include 'delete_form.html' %}
                    </td>
                    {% if request.user.is_staff %}
                      {% if item.invoice %}
                        <td><a href="{% url 'invoice' item.invoice.pk %}">{{ item.invoice.document_id|default:'' }}</a></td>
                      {% else %}
                        <td></td>
                      {% endif %}
                      {% if item.estimate %}
                        <td><a href="{% url 'estimate' item.estimate.pk %}">{{ item.estimate.document_id|default:'' }}</a></td>
                      {% else %}
                        <td>{{ item.estimate|default:'' }}</td>
                      {% endif %}
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
