{% extends 'base.html' %}
{% load crispy_forms_tags %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li class="active"><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Times</a></li>
            <li><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
            {% endblock %}

{% block content %}

                <h3>User &rarr; Edit</h3>
                <hr>
                <form action="" method="post">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-lg btn-success" type="submit" value="Save User">
                </form>

{% endblock %}
