{% extends 'base.html' %}

            {% block nav %}
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'client_index' %}">Clients</a></li>
            <li><a href="{% url 'contact_index' %}">Contacts</a></li>
            <li><a href="{% url 'project_index' %}">Projects</a></li>
            <li><a href="{% url 'task_index' %}">Tasks</a></li>
            <li><a href="{% url 'entry_index' %}">Time</a></li>
            <li class="active"><a href="{% url 'user_index' %}">Users</a></li>
            <li><a href="{% url 'invoice_index' %}">Invoices</a></li>
            <li><a href="{% url 'estimate_index' %}">Estimates</a></li>
            {% endif %}
            {% endblock %}

{% block content %}

                <h3>Users</h3>
                <hr>
                {% include 'messages.html' %}    
                {% include 'pagination.html' %}
                <table data-toggle="table" data-sort-name="hidden-id" data-sort-order="desc">
                  <thead>
                    <tr>
                      <th data-field="hidden-id" data-sortable="true" data-visible="false">Hidden Id</th>
                      <th data-field="username" data-sortable="true">User Name</th>
                      <th data-field="email" data-sortable="true">Email</th>
                      <th>View</th>
                      <th>Mail</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for user in items %}
                    <tr>
                      <td>{{ user.pk }}</td>
                      <td>{{ user.get_full_name|default:user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td><a href="{% url 'user' user.pk %}"><i class="fa fa-chevron-circle-right fa-3x"></i></a></td>
                      <td><a href="{% url 'user_mail' user.pk %}"><i class="fa fa-send-o fa-3x"></i></a></td>
                      <td><form action="{% url 'user_edit' user.pk %}" method="post"> {% csrf_token %}<input type="submit" value="X" name="delete" onChange="this.form.submit()"></form></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% include 'pagination.html' %}

{% endblock %}
