{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1>Users</h1>
            </div>
            <div class="col-md-3">
              <div style="margin-bottom: 1em"><button class="btn btn-block btn-lg btn-success" disabled>Add User <i class="fa fa-plus"></i></button></div>
            </div>
          </div>
{% include 'pagination.html' %}
          <div class="table-responsive">
            <table data-toggle="table" data-sort-name="hidden-id" data-sort-order="desc"> 
              <thead>
                <tr>
                  <th data-field="active" data-sort-name="hidden-active" data-sortable="true" {% if active %} data-visible="false" {% endif %} >Active</th>
                  <th data-field="hidden-active" data-sortable="true" data-visible="false">Hidden Active</th>
                  <th data-field="hidden-id" data-sortable="true" data-visible="false">Hidden Id</th>
                  <th data-field="fullname" data-sortable="true">Full Name</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th data-toggle="tooltip" title="Add User to Contacts">Add</th>
                </tr>
              </thead>
              <tbody>
              {% for user in items %}
                <tr>
                  <td><form action="{% url 'user_edit' user.pk %}" method="post">{% csrf_token %}<input type="hidden" value="off" name="checkbox"><input type="checkbox" value="on" name="checkbox" {% if user.profile.active %} checked {% endif %} onChange="this.form.submit()"></form></td>
                  <td>{{ user.active }}</td>
                  <td>{{ user.pk }}</td>
                  <td data-toggle="tooltip" title="Rate: {% if user.profile.rate %}{{ company.currency_symbol }}{% endif %}{{ user.profile.rate|default:''}}">{{ user.get_full_name }}</td>
                  <td><a href="{% url 'user' user.pk %}"><i class="fa fa-chevron-circle-right fa-{{ icon_size }}"></i></a></td>
                  <td><a href="{% url 'user_edit' user.pk %}"><i class="fa fa-cog fa-{{ icon_size }}"></i></a>
                  <td data-toggle="tooltip" title="Add {{ user.get_full_name }} to Contacts">
                    <a href="" data-toggle="modal" data-target=".bd-contact-modal-sm"><i class="fa fa-plus-circle fa-{{ icon_size }}"></i></a>
{% include 'contact_form.html' %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% include 'pagination.html' %}
{% endblock %}
