{% extends 'base.html' %}
{% block content %}
          <div class="row">
            <div class="col-md-9">
              <h1 style="border-bottom: none;">Users</h1>
            </div>
            <div class="col-md-3">
              <a href="{% url 'user_edit' %}" class="btn btn-block btn-lg btn-success">Add User</a>
            </div>
          </div>
{% with items=items.users %}
{% include 'pagination.html' %}
{% endwith %}
{% include 'table_users.html' %}
{% with items=items.users %}
{% include 'pagination.html' %}
{% endwith %}
{% endblock %}
