{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if request.user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'client_index' %}">Clients</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_index' %}">Contacts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'note_index' %}">Notes</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'task_index' %}">Tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'entry_index' %}">Times</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'user_index' %}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'invoice_index' %}">Invoices</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'estimate_index' %}">Estimates</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'report_index' %}">Reports</a></li>
            {% endif %}
{% endblock %}

{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h1>User</h1>
                </div>                
                <div class="col-md-2">
                  <div class="dropdown pull-right">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'user_edit' item.pk %}"><i class="fa fa-cog"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="{% url 'contact_mail' pk=item.pk %}"><i class="fa fa-send-o"></i> Send Mail</a></li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="table-responsive">
                <table data-toggle="table">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Name</th>
                      <th>Rate</th>
                      <th>Username</th>
                      <th>Total Hours</th>
                      <th>Total Income</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ item.email }}</td>
                      <td>{{ item.get_full_name|default:'' }}</td>
                      <td>{{ item.profile.rate|default:'' }}</td>
                      <td>{{ item.username|default:'' }}</td>
                      <td>{{ total_hours|default:'' }}</td>
                      <td>{{ company.currency_symbol }}{{ total_dollars }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h2>Times</h2>
              <table data-toggle="table">
                <thead>
                  <tr>
                    <th data-field="date" data-sort-name="hidden-date" data-sortable="true">Date</th>
                    <th data-field="hidden-date" data-sortable="true" data-visible="false">Hidden Date</th>
                    <th data-field="project" data-sort-name="hidden-project" data-sortable="true">Project</th>
                    <th data-field="hidden-project" data-sortable="true" data-visible="false">Hidden Project</th>
                    <th data-field="hours" data-sortable="true">Hours</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                {% for entry in times %}
                <tr>
                  <td><a href="{% url 'entry' entry.pk %}">{{ entry.date|date:'Y-m-d'|default:'' }}</a></td>
                  <td>{{ entry.date|date:'U' }}</td>
                  <td><a href="{% url 'project' entry.project.pk %}">{{ entry.project|default:'' }}</a></td>
                  <td>{{ entry.project }}</td>
                  <td>{{ entry.hours|default:'' }}</td>
                  <td><a href="{% url 'entry_edit' entry.pk %}"><i class="fa fa-cog fa-3x"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
{% endblock %}
