{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-md-10">
                  <h1><a class="mute-url" href="{% url 'user_index' %}">Users</a> &raquo; User</h1>
                </div>                
                <div class="col-md-2">
                  <div class="dropdown pull-right">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'user_edit' item.pk %}"><i class="fa fa-cog"></i> Edit Profile</a></li>
                      {% if request.user.is_staff %}<li data-toggle="tooltip" title="Add {{ item.get_full_name }} to Contacts"><a class="dropdown-item" href="" data-toggle="modal" data-target=".bd-contact-modal-sm"><i class="fa fa-plus-circle"></i> Add to Contacts</a></li>{% endif %}
                    </ul>
                  </div>
                </div>
              </div>
{% include 'contact_form.html' %}
              <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Rate</th>
                        <th>Username</th>
                        <th>Contact</th>
                        <th>Total Hours</th>
                        <th>Total Income</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ item.email }}</td>
                        <td>{{ item.get_full_name|default:'' }}</td>
                        <td>{{ item.profile.rate|default:'' }}</td>
                        <td>{{ item.username|default:'' }}</td>
                        <td>{% if is_contact %}<i class="fa fa-check-circle text-success"></i>{% endif %}</td>
                        <td>{{ total_hours|default:'' }}</td>
                        <td>{{ company.currency_symbol }}{{ total_dollars }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
{% endblock %}
