#content {
    background: white;
    padding-bottom: 15px;
}
#project-invoices li:before {
    font-family: 'FontAwesome';
    content: '\f138';
    margin:0 5px 0 -15px;
    color: #000;
}
.banner {
    text-align: center;padding: 10% 0 10% 0;
}
.banner h3, .banner div {
    font-size: 400%;
}
.inverse {
    color: white;
    border-radius: 5px;
    padding: 5px;
    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
    background-repeat: repeat-x;
}
.light {
    color: lightgray;
}
.nav-sidebar a:hover {
  text-decoration: underline; 
}
.note {
    margin: 0 0 2em 0;
}
.page-nav, .page-nav a, .page-nav a:hover {
    color: #CDCDCE;
}
.paginator {
    text-align: center !important;
    margin: 1em 0 1em 0 !important;
}
.sidebar {
    opacity: 0.9;
}
.table tbody>tr>td {  /* http://stackoverflow.com/a/13771448/185820 */
    vertical-align: top;
}
.table-responsive {
    margin: 1em 0 1em 0;
}
a.text-overflow-ellipsis {  /* http://www.w3schools.com/cssref/tryit.asp?filename=trycss3_text-overflow_hover */
    display: block;
    white-space: nowrap;
    width: 12em;
    overflow: hidden; 
    text-overflow: ellipsis;
    color: #373A3C;
}
a:hover.text-overflow-ellipsis {
    text-decoration: none;
}

/* How to center text in TD with anchor/link that fills 100% */
/* http://stackoverflow.com/a/21361545/185820 */
/*
td {  
    height: 100%;
}
td a {  
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
td a:hover {  
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
*/

tbody tr:hover a {
    text-decoration: none;
}
ul.dropdown-menu li a {
    color: black !important;
}
ul.nav.navbar-nav li a {
    color: white;
}
ul#project-invoices {
    list-style-type:none;
}
.valign-middle {  /* http://stackoverflow.com/a/18541484 */
    vertical-align: middle;
    margin-right: 8px;
}
img:hover {
  cursor: pointer;
}   
.modal-body img:hover {
  cursor: default;
}
