a:hover {
    text-decoration: none;
}
tbody tr:hover a {
    text-decoration: none;
}
#content {
    background: white;
}
.banner {
    text-align: center;padding: 10% 0 10% 0;
}
.banner div, .banner h3 {
    font-size: 400%;
}
a:hover.mute-url, a.mute-url {
    text-decoration: none;
    color: black;
}
.sidebar {
    opacity: 0.9;
}

/* https://stackoverflow.com/questions/26378785/how-can-i-speed-up-the-mobile-dropdown-in-the-bootstrap-navbar */
.collapsing {
  -webkit-transition: height 0.2s ease;
       -o-transition: height 0.2s ease;
          transition: height 0.2s ease;
}
