ul#project-invoices {
    list-style-type:none;
}
#project-invoices li:before {
    font-family: 'FontAwesome';
    content: '\f138';
    margin:0 5px 0 -15px;
    color: #000;
}
tbody tr:hover td {
    background-color: #f0f0f0 !important;
}
tbody tr:hover a {
    text-decoration: none;
}
.rv {
    background: black;
    border-radius: 5px;
    color: white;
    padding: 5px;

    // Via bootstrap navbar-inverse
    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
    background-repeat: repeat-x;
}
