tbody tr:hover a {
    text-decoration: none;
}
#content {
    background: white;
    padding: 45px 0 15px 0;
}
.banner {
    text-align: center;padding: 10% 0 10% 0;
}
.banner div, .banner h3 {
    font-size: 400%;
}
.sidebar {
    opacity: 0.9;
}
.table-responsive {
    margin: 1em 0 1em 0;
}
